@model string
<footer class="gov-border" role="contentinfo">
    <div class="footer__wrapper">
        <div class="footer__meta">
            <ul class="footer__nav">
                <li class="small-btm-margin">
                    <a class="footer__link bold-medium" href="mailto:DASemployerpilot@sfa.bis.gov.uk?subject=Private Beta query">Contact us</a>
                    <a class="footer__link bold-medium" href="@Model" target="_blank">Give feedback</a>
                </li>
                <li class="footer__link">Built by the <a href="http://gov.uk/sfa" target="_blank">Skills Funding Agency</a></li>
                <li class="footer__ogl">All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Open Government Licence v3.0</a>, except where otherwise stated</li>
            </ul>
        </div>
    </div>
</footer>
