@using Sfa.Das.Sas.ApplicationServices.FeatureToggles
@using FeatureToggle.Core.Fluent
@model Sfa.Das.Sas.Web.ViewModels.HeaderViewModel

@if (@Model.ShowCookieBanner)
{
    <div id="global-cookie-message" class="cookie-banner">
        <div class="content-container" role="alert">
            <span class="copy-16">GOV.UK uses cookies to make the site simpler. <a href="/cookies">Find out more about cookies</a></span>
        </div>
    </div>
}

<header role="banner" id="global-header" class="global-header">
    <div class="global-header__wrapper">
            <a href="/" title="Go to find apprenticeship training homepage" class="govuk-logo">
                Find apprenticeship training
            </a>
    </div>
</header>

<div id="global-header-bar"></div>

<div class="phase-banner phase-banner-beta">
    <div class="phase-banner-info">
        <strong class="phase-tag">BETA</strong>
        <span>
            This is a new service – your <a href="@Model.SurveyUrl" target="_blank">feedback</a> will help us to improve it.
        </span>      
    </div>

    <div class="phase-banner-tools">
       @RenderDashboardLink()
    </div>

</div>

@helper RenderDashboardLink()
{
    var currentUrl = Request.Url?.AbsolutePath ?? string.Empty;
    var dashboardUrl = Url.Action("Overview", "Dashboard");
    var informUrl = Url.Action("Start", "Start");

    if (currentUrl.Equals(dashboardUrl) || currentUrl.Equals(informUrl))
    {
        return;
    }

    if (Is<ShortlistingFeature>.Enabled)
    {
        @Html.ActionLink("My Dashboard", "Overview", "Dashboard", null, new { id = "dashboard-link" })
    }
}
