@model string
<header role="banner" id="global-header" class="global-header">
    <div class="global-header__wrapper">
            <a href="/" title="Go to find apprenticeship training homepage" class="govuk-logo">
                Find apprenticeship training
            </a>
    </div>
</header>

<div id="global-header-bar"></div>

<div class="phase-banner phase-banner-beta">
    <div class="phase-banner-info">
        <strong class="phase-tag">BETA</strong>
        <span>
            This is a new service – your <a href="@Model" target="_blank">feedback</a> will help us to improve it.
        </span>      
    </div>

    <div class="phase-banner-tools">
       @RenderDashboardLink()
    </div>

</div>

@helper RenderDashboardLink()
{
    var currentUrl = Request.Url?.AbsolutePath ?? string.Empty;
    var dashboardUrl = Url.Action("Overview", "Dashboard");

    if (currentUrl.Equals(dashboardUrl))
    {
        return;
    }

    @Html.ActionLink("My Dashboard", "Overview", "Dashboard",new {id="dashboard-link"}, null)
}
