<h2 class="heading-medium">Help</h2>
<p>You can contact the National Apprenticeship Service for advice on finding a training provider.</p>
<div class="contact">
    <p>
        <strong>National Apprenticeship Service</strong><br>
        Telephone: 0800 015 0600
        <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
    </p>
</div>