<div class="notice">
    <i class="icon icon-important">
        <span class="visuallyhidden">Warning</span>
    </i>
    <strong class="bold-small">
        This part of the service contains details of training providers who currently offer apprenticeships.
        It will be updated in 2017 to reflect the new register of apprenticeship training providers.
    </strong>
</div>
