body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: whitesmoke;
}

a {
    word-break: break-all;
}

.btn-primary {
    color: #000;
    background-color: #4285f4;
    border-color: #4285f4;
}

.btn-primary:hover {
    color: #fff;
    background-color: #4285f4;
    border-color: #4285f4;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* .import-data-page */
.select-type {
    display: block;

    margin-bottom: 10px;
    border: 4px solid #337ab7;
    padding: 5px;
}
option {
    padding: 5px;
}

.input-text {
    display: block;
    width: 100%;
    min-height: 400px;
    max-width: 100%;
}

.message {
    background: #f6f6f6;
    padding: 10px;
    margin: 5px 0;
    font-size: 18px;
    text-align: center;
    color: #337ab7;
}

/* EDIT */

.edit-standard label, .edit-framework label {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

.edit-standard .right, .edit-framework .right {
    display: inline-block;
    width: 70%;
}

.pdf-link {
    max-width: 500px;
}

/*.edit label {
    display: block;
}*/

.edit textarea {
    width: 500px;
    max-width: 500px;
    height: 200px;
}

.boxed {
    /*background-color: #f6f7ff;*/
    padding: 15px 6px;
    margin: 15px 0;
}

.edit {
    background-color: white;
    border-radius: 5px;
    padding-bottom: 10px;
}

.edit form > div {
    margin: 0 10px;
    margin-top: 20px;
}

.edit input[type=text] {
    padding: 5px;
    border-radius: 7px;
}

.edit input[type=number] {
    padding: 5px;
    border-radius: 7px;
    max-width: 75px;
}

.entry {
    display: inline-block;
    background-color: #4285f4;
    padding: 0px 10px 0 5px;
    border-radius: 13.3px;
    margin: 5px 5px;
    margin-left: 0;
    color: white;
}

.entry a {
    border-radius: 50%;
    border: solid #c3ced2 1px;
    background: #c3ced2;
    margin: 4px 0px;
    padding: 5px 7px;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.entry a:hover {
    border: solid #95acbe 1px;
    background: white;
}

.entry i {
    color: #000;
    font-size: 18px;
}

.edit .edit-header {
    padding: 5px;
    background-color: rgb(216, 230, 253);
    background-color: rgba(216, 230, 253, 0.8);
    position: relative;
    z-index: 1;
    margin: 0;
    display: block;
    padding-left: 10px;
}


.edit .edit-header h3{
    max-width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: gray;
}


.edit .edit-header.fixed {
    position: fixed;
    top: 50px;
    display: inline;
}

@media (min-width: 768px) {
    .edit .edit-header {
        width: 719px;
    }
}

@media (min-width: 992px){
    .edit .edit-header {
        width: 939px;
    }
}

@media (min-width: 1200px) {
    .edit .edit-header {
        width: 1140px;
    }
}

.edit .edit-header input {
    position: absolute;
    right: 10px;
    top: 15px;
    background-color: green;
    border-color: green;
}


/* Framework details */

.framework-details .top > div, .standard-details .top > div {
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

.framework-details .top {
    padding: 10px;
    margin-bottom: 10px;
}

.framework-details, .standard-details {
    background-color: white;
    padding: 10px;
    margin-top: 20px;
}

/*.framework-details, .standard-details {
    font-weight: bold;
    color: #a7a7a7;
    border-bottom: 2px solid;
    display: inline-block;
}*/

.framework-details hr, .standard-details hr {
    border-top: 27px solid whitesmoke;
    width: 105%;
    margin-left: -10px;
}

.edit-btn {
    background-color: green;
    color: white;
}

.framework-details dd, .standard-details dd {
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 10px;
    width: 70%;
}

.framework-details dt, .standard-details dt {
    font-weight: bold;
    color: #a7a7a7;
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

/* MENU */ 

.navbar-inverse, .navbar-inverse .container{
    background-color: #4285f4;
    color: black;
    border: none;
}

.navbar-inverse .navbar-header .navbar-brand{
    color: black;
}

.navbar-inverse .navbar-nav > li > a{
    color: black;
}
}