body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* .import-data-page */
.select-type {
    display: block;

    margin-bottom: 10px;
    border: 4px solid #337ab7;
    padding: 5px;
}
option {
    padding: 5px;
}

.input-text {
    display: block;
    width: 100%;
    min-height: 400px;
    max-width: 100%;
}

.message {
    background: #f6f6f6;
    padding: 10px;
    margin: 5px 0;
    font-size: 18px;
    text-align: center;
    color: #337ab7;
}
