<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="GovLearningUrl" value="https://data.gov.uk/dataset/learning-aim-reference-service/datapackage.json" />
    <add key="CsvFileName" value="Standard.csv" />
    <add key="GitUsername" value="username" />
    <add key="GitPassword" value="password" />
    <add key="GitBranch" value="refs/heads/master" />
    <add key="VstsGitBaseUrl" value="https://sfa-gov-uk.visualstudio.com/DefaultCollection/Digital%20Apprenticeship%20Service/_apis/git/repositories/SFA-DAS-MetaDataStorage/" />
    <add key="VstsGitFolderPath" value="standards/local/json" />
    <add key="ElasticServerIp" value="23.101.49.245" />
    <!--test config-->
    <add key="int" value="5" />
    <add key="intAsString" value="five" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>