<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="UseDevelopmentStorage" />
    <add key="SearchEndpointConfigurationName" value="BasicHttpBinding_IDedsSearchService" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--Values differ per environment -->
    <add key="StandardIndexesAlias" value="cistandardindexesalias" />
    <add key="ProviderIndexesAlias" value="ciproviderindexalias" />
    <add key="FrameworkIndexesAlias" value="ciframeworkalias" />
    <add key="Standard.QueueName" value="daslocalqueue" />
    <add key="Provider.QueueName" value="daslocalproviderqueue" />
    <add key="Framework.QueueName" value="daslocalframeworkqueue" />
    <add key="StorageAccountName" value="dascistorage" />
    <add key="StorageAccountKey" value="xYns9ZmoMABct9tl+5sQpVpZax6fWuVHwpIEl2aoE3Xs3JOFtmTeiZz9p8ckr1xT3dCdoAzb9DrSBtyhGB4WOQ==" />
    <add key="EnvironmentName" value="local" />
    <add key="ElasticServerIp" value="127.0.0.1" />
    <!--<add key="ElasticServerIp" value="" />-->
    <add key="ElasticsearchPort" value="9200" />
    <add key="iKey" value="" />
    <!--values we dont need to change-->
    <add key="DatasetName" value="LARS" />
    <add key="WorkerRolePauseTime" value="1" />
    <add key="PauseTime" value="1000" />
    <add key="StandardDescriptorName" value="GetStandardCommonComponent" />
    <add key="CourseDirectoryUri" value="https://dasapidev.coursedirectoryproviderportal.org.uk/dasapi" />
    <!--Metadata creation -->
    <add key="GovLearningUrl" value="https://data.gov.uk/dataset/learning-aim-reference-service/datapackage.json" />
    <add key="CsvFileName" value="Standard.csv" />
    <add key="GitUsername" value="" />
    <add key="GitPassword" value="" />
    <add key="GitBranch" value="refs/heads/master" />
    <add key="VstsGitBaseUrl" value="https://sfa-gov-uk.visualstudio.com/DefaultCollection/Digital%20Apprenticeship%20Service/_apis/git/repositories/SFA-DAS-MetaDataStorage/" />
    <add key="VstsGitFolderPath" value="standards/local/json" />
  </appSettings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="CommonWsBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://pubil.des.imservices.org.uk/RoutingService.svc/ReqRes/DedsSearchService/" binding="wsHttpBinding" bindingConfiguration="CommonWsBinding" contract="DedsService.IDedsSearchService" name="BasicHttpBinding_IDedsSearchService" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>