<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SearchEndpointConfigurationName" value="BasicHttpBinding_IDedsSearchService" />
    <!--Values differ per environment -->
    <add key="ApprenticeshipIndexAlias" value="ciapprenticeshipindexalias" />
    <add key="ProviderIndexAlias" value="ciproviderindexalias" />
    <add key="Apprenticeship.QueueName" value="daslocalqueue" />
    <add key="Provider.QueueName" value="daslocalproviderqueue" />
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true;" />
    <add key="EnvironmentName" value="local" />
    <add key="ElasticServerUrls" value="http://127.0.0.1:9200,http://192.168.99.100:9200" />
    <!-- Features -->
    <add key="Feature.FilterInactiveProviders" value="false" />
    <add key="iKey" value="" />
    <!--values we dont need to change-->
    <add key="DatasetName" value="LARS" />
    <add key="WorkerRolePauseTime" value="5" />
    <add key="PauseTime" value="1000" />
    <add key="StandardDescriptorName" value="GetStandardCommonComponent" />
    <add key="CourseDirectoryUri" value="https://dasapidev.coursedirectoryproviderportal.org.uk/dasapi" />
    <add key="StandardProviderDocumentType" value="standardprovider" />
    <add key="FrameworkProviderDocumentType" value="frameworkprovider" />
    <!--Metadata creation -->
    <add key="CsvFileName" value="Standard.csv" />
    <add key="GitUsername" value="" />
    <add key="GitPassword" value="" />
    <add key="GitBranch" value="refs/heads/master" />
    <add key="VstsGitBaseUrl" value="https://sfa-gov-uk.visualstudio.com/DefaultCollection/Digital%20Apprenticeship%20Service/_apis/git/repositories/SFA-DAS-MetaDataStorage/" />
    <add key="VstsGitFolderPath" value="standards/local/json" />
    <add key="ImServiceBaseUrl" value="https://hub.imservices.org.uk" />
    <add key="ImServiceUrl" value="Learning%20Aims/Downloads/Pages/default.aspx" />
  </appSettings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Elasticsearch.Net" publicKeyToken="96c599bbe3e70f5d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="CommonWsBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://pubil.des.imservices.org.uk/RoutingService.svc/ReqRes/DedsSearchService/" binding="wsHttpBinding" bindingConfiguration="CommonWsBinding" contract="DedsService.IDedsSearchService" name="BasicHttpBinding_IDedsSearchService" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>