<?xml version="1.0" encoding="utf-8"?>
<ServiceDefinition name="Sfa.Das.Sas.Web.CloudService" xmlns="http://schemas.microsoft.com/ServiceHosting/2008/10/ServiceDefinition" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" schemaVersion="2015-04.2.6">
  <WebRole vmsize="#{CloudService.Size}" xdt:Transform="Replace" >
   <Endpoints>
      <InputEndpoint name="Endpoint1" protocol="http" port="80" loadBalancer="#{AzureInternalLoadBalancerName}" xdt:Transform="SetAttributes(loadBalancer)"/>
    </Endpoints>
  </WebRole>
</ServiceDefinition>