<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration serviceName="Sfa.Das.Sas.Web.CloudService" xmlns="http://schemas.microsoft.com/ServiceHosting/2008/10/ServiceConfiguration" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" schemaVersion="2015-04.2.6">
  <Role name="Sfa.Das.Sas.Web">
    <Instances count="#{CloudService.InstanceCount}" xdt:Transform="Replace" />
  </Role>
  <NetworkConfiguration>
    <AddressAssignments xdt:Transform="Replace">
      <InstanceAddress roleName="Sfa.Das.Sas.Web">
        <Subnets>
          <Subnet name="#{azure.vnet.subnet.name}" />
        </Subnets>
      </InstanceAddress>
      <ReservedIPs>
        <ReservedIP name="#{AzureCloudService.ReservedIpName}" />
      </ReservedIPs>
    </AddressAssignments>
    <AccessControls xdt:Transform="Remove" />
    <LoadBalancers xdt:Transform="Insert">
      <LoadBalancer name="#{AzureInternalLoadBalancerName}">
        <FrontendIPConfiguration type="private" subnet="#{azure.vnet.subnet.name}" staticVirtualNetworkIPAddress="#{AzureInternalLoadBalancerIP}" />
      </LoadBalancer>
    </LoadBalancers>
  </NetworkConfiguration>
</ServiceConfiguration>
