<?xml version="1.0" encoding="utf-8"?>
<ServiceDefinition name="Sfa.Das.Sas.Web.CloudService" xmlns="http://schemas.microsoft.com/ServiceHosting/2008/10/ServiceDefinition" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" schemaVersion="2015-04.2.6">
	<WebRole name="Sfa.Das.Sas.Web" vmsize="#{CloudService.Size}">
		<Endpoints>
			<InputEndpoint name="SimpleEndpoint" protocol="http" port="80" loadBalancer="#{AzureInternalLoadBalancerName}" xdt:Locator="Condition(//ServiceDefinition[@name='Sfa.Das.Sas.Web.CloudService']/WebRole[@vmsize='#{CloudService.Size}']/Endpoints/InputEndpoint[@name='SimpleEndpoint'])" xdt:Transform="SetAttributes"/>
		</Endpoints>
		<Certificates/>
	</WebRole>
</ServiceDefinition>