<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="false">
  <rules>
    <logger name="*" minlevel="#{Logging.Level}" writeTo="#{Logging.Shared.Targets}" xdt:Transform="SetAttributes(minlevel,writeTo)" xdt:Locator="Condition(@name='*')" />
  </rules>
</nlog>