@using Microsoft.AspNetCore.Http.Extensions
@using Sfa.Das.Sas.Shared.Components.ViewModels.Css.Interfaces
@using Sfa.Das.Sas.Shared.Components.Web.ViewModel
@model Sfa.Das.Sas.Shared.Components.Web.ViewModel.LayoutViewModel
@inject ILayoutService LayoutService;
@inject ICssViewModel CssViewModel;
@{
    Model.Layout = LayoutService.Layout;
    Model.ReturnUrl = Context.Request.Path + Context.Request.QueryString;
    Model.Host = LayoutService.Host;

}

<form asp-controller="Home" asp-action="Layout">
    <select class="select" asp-for="Layout">
        <option value="_Layout">Gds</option>
        <option value="_Layout-campaign">Campaign</option>
    </select>
    <input asp-for="ReturnUrl" type="hidden"/>
    
    <select class="select" asp-for="Host">
        <option value="http://localhost:1045">Local</option>
        <option value="https://das-at-frnt-end.azureedge.net">At</option>
        <option value="https://das-test-frnt-end.azureedge.net">Test</option>
        <option value="https://das-pp-frnt-end.azureedge.net">PreProd</option>
        <option value="https://das-prd-frnt-end.azureedge.net">Prod</option>
    </select>
    
    <button class="@CssViewModel.Button" type="submit">Change</button>
</form>
