.provider-detail {
    section:first-child h2 {
        margin-top: 0;
    }
}

.standard-result-summary dt  {
    font-weight: 900;
    float: left;
    padding-right: 5px;
}

.rates-list > div {
    margin: 0.3em 0em 1.3em 0;
}

.rating {
    margin: 0 0 1em;
}

.rating--inline {
    margin: 5px 0;
    span {
        width: 50px;
        float: left;
        &.rating-0 {
            width: auto;
            float: none;
        }
    }
    .progress-container {
        margin-left: 3em;
    }
}

.data-list--provider dd>:first-child.rating {
    margin-top: 5px;
     @include media(tablet) {
         margin-top: 0;
     }
}

.progress-container {
    background-color: $grey-3;
}

.progress-container .progressbar {
    height: 1.1em;
    background-color: $light-blue;
}

.national-achievement-bar .progress-container .progressbar {
    background-color: $light-blue-50;
}

.apprenticeship-marketing-info{
    h2, h3 {
        @include bold-24();
    }
    ul{
        padding: 0;
        margin-top: 1.3em;
        margin-bottom: 1.3em;
        margin-left: 1.2em;
        list-style: disc;
        li {
            margin: 0.4em 0;
            p {
                margin: 0;
            }
        }
    }
}

.standard-detail {
    .data-list dd, .data-list dt{
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 5px;
    }
}


.panel--contact {
    background: $grey-3;
    padding: 15px;
    margin-bottom: 10px;
    h2 {
        margin-top: 0;
    }
    dl {
        dt {
            margin-top: 10px;
            font-weight: bold;
        }
        dd {
            overflow-wrap: break-word;
            word-wrap: break-word; 
            word-break: break-all;
        }
    }
}

.content-source {
     @include core-16();
     color: $grey-1;
}
.satisfaction-source {
    display: block;
    text-align: right;
    @include core-16();
    margin-top: 5px;
    margin-bottom: 30px;
    color: $grey-1;
}

.survey {
    margin-top: 30px;
    background:$grey-3;
}

.survey,
.provider-disclaimer {
    h2, h3 {
        margin-top: 0;
    }
    @include core-16();
    padding: 20px;
}

.provider-disclaimer {
    margin-top: 10px;
    padding: 20px 0;
}