@{
    ViewBag.Title = "Skills Funding Agency (SFA)";
}
<div class="jumbotron">
    <h1>Meta data tool</h1>
    <p class="lead">First approach</p>
    <div class="row">
        <div class="col-md-4">
            <p>
                <a href="http://asp.net" class="btn btn-primary btn-lg">List all standards &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <a href="http://asp.net" class="btn btn-primary btn-lg">List all frameworks &raquo;</a>
            </p>
        </div>
    </div>
</div>
