@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Employer Apprenticeship Search</h1>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div>
            <input type="text" placeholder="Enter search term"/>
            <input type="button" value="Search"/>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>