@model Sfa.Eds.Das.Web.Controllers.SearchCriteria
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Employer Apprenticeship Search</h1>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div>
            @using (Html.BeginForm("Search", "Home", FormMethod.Post))
            {
                <input id="keywords" name="Keywords" type="text" placeholder="Enter search term" />
                <input type="submit" value="Search" />
            }
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>