@model Sfa.Eds.Das.Web.Models.SearchResults
@{
    ViewBag.Title = "Search Results";
}

<div class="jumbotron">
    <h1>Employer Apprenticeship Search</h1>
</div>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div>
            <strong>Total results found:</strong> @Model.TotalResults
        </div>
        <div>
            @Html.ActionLink("< back to search", "Index")
        </div>
    @foreach (var item in Model.Results)
    {
        <div><h3><strong>@item.Title</strong></h3></div>
        <hr/>
    }
    </div>
    <div class="col-md-2">
    </div>
</div>