@using Sfa.Das.Sas.Shared.Components.ViewComponents.TrainingProvider.SearchSummary
@model TrainingProviderSearchSummaryViewModel

<p>We've found @Model.TotalResults training providers for this apprenticeship. Results are sorted by distance from '@Model.Postcode'</p>
