@using Sfa.Das.Sas.Shared.Components.ViewComponents.TrainingProvider.SearchSummary
@model TrainingProviderSearchSummaryViewModel

<p>There are @Model.TotalResults training options for the @Model.ApprenticeshipTitle, level @Model.ApprenticeshipLevel apprenticeship, results are ordered by distance from '@Model.Postcode'.</p>
