<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <style media="screen">

      table a:not(.btn), .table a:not(.btn), a:link, a:visited {
        text-decoration: none;
        color:black;
      }

      .no {opacity:.4;}
      .yes {opacity:1;}

      a:hover {opacity:.6;}
      i {margin:0 2px;}

    </style>
  </head>
  <body>
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <br/>
          <h3><i class="fa fa-code"></i> DAS Templates</h3>
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">

          <table class="table table-striped">
            <thead>
              <tr>

                <th>Template name</th>
                <th>Link</th>
                <th>Status</th>
                <th>Tested</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Empty page</td>
                <td><a href="empty-page.html"><i class="fa fa-file-code-o"></i> empty-page.html</a></td>
                <td><i class="fa fa-check text-success"></i> Done</td>
                <td>
                    <i class="fa fa-chrome yes"></i>
                    <i class="fa fa-firefox no"></i>
                    <i class="fa fa-safari no"></i>
                    <i class="fa fa-internet-explorer no"></i>
                    <i class="fa fa-mobile no"></i>
                </td>
              </tr>
              <tr>
                <td>Search page</td>
                <td><a href="search.html"><i class="fa fa-file-code-o"></i> search.html</a></td>
                <td><i class="fa fa-check text-success"></i> Done</td>
                <td>
                    <i class="fa fa-chrome yes"></i>
                    <i class="fa fa-firefox no"></i>
                    <i class="fa fa-safari no"></i>
                    <i class="fa fa-internet-explorer no"></i>
                    <i class="fa fa-mobile no"></i>
                </td>
              </tr>
              <tr>
                <td>Listing page</td>
                <td><a href="listing.html"><i class="fa fa-file-code-o"></i> listing.html</a></td>
                <td><i class="fa fa-check text-success"></i> Done</td>
                <td>
                    <i class="fa fa-chrome yes"></i>
                    <i class="fa fa-firefox no"></i>
                    <i class="fa fa-safari no"></i>
                    <i class="fa fa-internet-explorer no"></i>
                    <i class="fa fa-mobile no"></i>
                </td>
              </tr>
              <tr>
                <td>Details page</td>
                <td><a href="details.html"><i class="fa fa-file-code-o"></i> details.html</a></td>
                <td><i class="fa fa-check text-success"></i> Done</td>
                <td>
                    <i class="fa fa-chrome yes"></i>
                    <i class="fa fa-firefox no"></i>
                    <i class="fa fa-safari no"></i>
                    <i class="fa fa-internet-explorer no"></i>
                    <i class="fa fa-mobile no"></i>
                </td>
              </tr>
              <tr>
                <td>Inform page</td>
                <td><a href="inform.html"><i class="fa fa-file-code-o"></i> inform.html</a></td>
                <td><i class="fa fa-times text-danger"></i> Defined</td>
                <td>
                    <i class="fa fa-chrome no"></i>
                    <i class="fa fa-firefox no"></i>
                    <i class="fa fa-safari no"></i>
                    <i class="fa fa-internet-explorer no"></i>
                    <i class="fa fa-mobile no"></i>
                </td>
              </tr>


            </tbody>
          </table>

        </div>
      </div>
    </div>
  </body>
</html>
