<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <% include ./partials/header %>

    <main id="content" role="main">
      <a href="results.html" class="link-back">Search</a>
      <div id="results" class="grid-row">

        <div class="column-two-thirds">

          <div class="hgroup">

            <h1 class="heading-xlarge">
              <span class="heading-secondary">Apprenticeship programmes</span>
              Search results</h1>

          </div>
          <p class="strong" > 
              There are currently no apprenticeships that match your search.
          </p>
          <ol class="frameworkResults">

          </ol>

        </div>

        <div class="column-third">

          <div class="related-container">
            <aside class="related" id="related">
              <div class="inner group related-subsection">

                <h2 id="parent-subsection">Help</h2>

                <ul class="link-list">
                  <li>
                    <a href="help_frameworks.html">What is a framework</a>
                  </li>
                  <li>
                    <a href="help_standards.html">What is a standard</a>
                  </li>
                </ul>

              </div>
              <div class="inner group">
                <a class="return-to-top" href="#content">Return to top ↑</a>
              </div>
            </aside>
          </div>

        </div>
      </div>
    </main>

    <% include ./partials/footer %>

  </body>
</html>
