<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  
  
  <appSettings>
    <!-- use either "localhost" or "saucelabs" or "jenkins-saucelabs" -->
    <!-- "jenkins-saucelabs" allows execution on multiple platforms, browsers, os as selected in the sauce plugin in jenkins -->
    <add key="host" value="localhost" />

    <!--These configuration keys are used for sauce labs execution in Hooks -->
    <add key="platform" value="Windows 10" />
    <add key="browser" value="chrome" />
    <!-- see saucelabs platform configurator for options -->
    <add key="browserVersion" value="46" />
    <add key="testenv" value="http://das-searchwebsystemtest.cloudapp.net/" />
    <add key="baseUrl" value="http://das-searchwebsystemtest.cloudapp.net/" />
    <add key="testExecutionType" value="" />
    <add key="sauce_labs_account_name" value="" />
    <add key="sauce_labs_account_key" value="" />
    <add key ="browserstack_user" value =""/>
    <add key ="browserstack_key" value=""/>
  </appSettings>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.14350" newVersion="2.6.4.14350" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<specFlow>
    
  
  <!--<plugins>
    <add name="SpecRun" />
  </plugins>-->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
  
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  </specFlow>
</configuration>