@model string

@{
    ViewBag.Title = "404 - " + @Model;
}

<main>
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="hgroup">
                <h1>
                    404 - @Model
                </h1>
            </div>
        </div>
    </div>
</main>