
<header role="banner" id="global-header" class="global-header">
    <div class="global-header__wrapper">
            <a href="/" title="Go to find apprenticeship training homepage" class="govuk-logo">
                Find apprenticeship training
            </a>
    </div>
</header>

<div id="global-header-bar"></div>

<div class="phase-banner phase-banner-beta">
    <p>
        <strong class="phase-tag">BETA</strong>
        <span>
            This is a new service – your <a href="#">feedback</a> will help us to improve it.
        </span>
      
    </p>
</div>