
//
// #apprenticeship-results .result, #framework-results .result {
//     border-bottom: 1px solid #bfc1c3;
//     padding: 15px 0;
// }
//
// #apprenticeship-results .result:first-child, #framework-results .result:first-child {
//     padding-top: 0;
// }
// #apprenticeship-results .result .actions, #framework-results .result .actions {
//     text-align: center;
// }
// #apprenticeship-results .result .actions i, #framework-results .result .actions i {
//     display: block;
// }
// #apprenticeship-results .result .actions a, #framework-results .result .actions a {
//     display: block;
//     text-decoration: none;
// }


.apprenticeship-results .result dt,
.standard_detail .hgroup dt,
.framework-results .result dt,
.standard_detail .hgroup dt,
.standard-result-summary dt  {
    font-weight: 900;
    float: left;
    padding-right: 5px;
}


.apprenticeship-results .result dt:after,
.standard_detail .hgroup dt:after,
.framework-results .result dt:after,
.framework_detail .hgroup dt:after {
    content: ":";
}

.progress-container {
    background-color: #DEE0E2;
    margin: 0.3em 0em 1.3em 0;
}

.progress-container .progressbar {
    height: 1.1em;
    background-color: #238BC6;
}

.apprenticeship-marketing-info{
    h2, h3 {
        font-size: 28px;
        line-height: 1.1111111111;
    }
    ul{
        padding: 0;
        margin-top: 1.3em;
        margin-bottom: 1.3em;
        margin-left: 1.2em;
        list-style: disc;
        li {
            margin: 0.4em 0;
            p{
                margin: 0;
            }
        }
    }
}