.hgroup {
    margin-bottom: 30px;
    padding: 0
}
.hgroup h1,
.hgroup .heading-xlarge {
    margin-bottom: 5px
}
.hgroup .subtitle {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    color: #6f777b;
    margin: 0
}
@media (max-width: 640px) {
    .hgroup .subtitle {
        font-size: 20px;
        line-height: 1.2
    }
}
@media (min-width: 641px) {
    .hgroup {
        margin-bottom: 60px
    }
}
.hgroup-large {
    margin-bottom: 20px;
    padding: 0
}
.hgroup-large h2,
.hgroup-large .heading-large {
    margin-bottom: 5px
}
.hgroup-large .subtitle {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    color: #6f777b;
    margin: 0
}
@media (max-width: 640px) {
    .hgroup-large .subtitle {
        font-size: 20px;
        line-height: 1.2
    }
}
@media (min-width: 641px) {
    .hgroup-large {
        margin-bottom: 45px
    }
}
.hgroup-medium {
    margin-bottom: 15px
}
.hgroup-medium .heading-medium {
    margin-bottom: 5px
}
.hgroup-medium .subtitle {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.3157894737;
    font-weight: 400;
    text-transform: none;
    color: #6f777b;
    margin: 0
}
@media (max-width: 640px) {
    .hgroup-medium .subtitle {
        font-size: 16px;
        line-height: 1.25
    }
}
.hgroup-small {
    margin-bottom: 15px
}
.hgroup-small .heading-small {
    margin-bottom: 5px
}
.hgroup-small .subtitle {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    color: #6f777b;
    margin: 0
}
@media (max-width: 640px) {
    .hgroup-small .subtitle {
        font-size: 14px
    }
}
