<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <log4net>
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <remoteAddress xdt:Transform="Replace" xdt:Locator="Condition(@key='ElasticBox')" key="ElasticBox" value="40.127.172.69" />
    </appender>
  </log4net>
</configuration>