<?xml version="1.0" encoding="utf-8"?>
<log4net>

  <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
    <remoteAddress value="23.101.49.245" />

    <remotePort value="5960" />
    <layout type="log4net.Layout.PatternLayout, log4net">
      <conversionPattern value="%-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <root>
    <!-- OFF, FATAL, ERROR, WARN, DEBUG, INFO, ALL -->
    <level value="ALL" />
    <appender-ref ref="UdpAppender" />

  </root>
</log4net>