<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <!-- can be any pattern you like -->
      <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>
  <!--<appender name="aiAppender" type="Microsoft.ApplicationInsights.Log4NetAppender.ApplicationInsightsAppender, Microsoft.ApplicationInsights.Log4NetAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>-->
  <root>
    <!-- OFF, FATAL, ERROR, WARN, DEBUG, INFO, ALL -->
    <level value="ALL" />
    <appender-ref ref="TraceAppender" />
    <!--<appender-ref ref="aiAppender" />-->
  </root>
</log4net>