@model Sfa.Das.Sas.Web.ViewModels.HeaderViewModel
@{var gtmTrackingId = Microsoft.Azure.CloudConfigurationManager.GetSetting("GaGtmTrackingid");}
@if (Model.ShowGoogleTagManager)
{
    <!--Google Tag Manager (noscript)-->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=@gtmTrackingId" height="0" width="0" style="display:none;visibility:hidden"></iframe ></noscript>
    <!--End Google Tag Manager(noscript)-->
}
@if (Model.ShowCookieBanner)
{
    <div id="global-cookie-message" class="cookie-banner">
        <div class="content-container" role="alert">
            <span class="copy-16">Education and Skills Funding Agency (ESFA) uses cookies to make the site simpler. <a href="/cookies">Find out more about cookies</a></span>
        </div>
    </div>
}
<header role="banner" id="global-header" class="global-header">
    <div class="global-header__wrapper">
        <div class="global-header__title">
            <a href="/" title="Go to find apprenticeship training homepage">
                Find apprenticeship training
            </a>
        </div>
</div>
</header>

<div id="global-header-bar"></div>

<div class="phase-banner phase-banner-beta">
    <div class="phase-banner-info">
        <strong class="phase-tag">BETA</strong>
        <span>
            This is a new service – your <a href="@Model.SurveyUrl" target="_blank">feedback</a> will help us to improve it.
        </span>      
    </div>
</div>