@{
    ViewData["Title"] = "Home Page";
}


    <h1 class="govuk-heading-l">Shared components</h1>
    <h1 class="govuk-heading-m">Find apprenticeship training search</h1>


<h2 class="govuk-heading-m">Demo</h2>
@await Component.InvokeAsync("FatSearch")
