
<h1 class="govuk-heading-l">Search Component</h1>

<h2 class="govuk-heading-m">Parameters</h2>

<h2 class="govuk-heading-m">Examples</h2>
<h3 class="govuk-heading-s">Default</h3>

@await Component.InvokeAsync("FatSearch")
<h3 class="govuk-heading-s">Inline</h3>
@await Component.InvokeAsync("FatSearch", new { inline = true })