<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
    <section name="specBind" type="SpecBind.Configuration.ConfigurationSectionHandler, SpecBind"/>
  </configSections>
  
  
  
  
  <appSettings>
    <!-- use either "localhost" or "saucelabs" or "jenkins-saucelabs" -->
    <!-- "jenkins-saucelabs" allows execution on multiple platforms, browsers, os as selected in the sauce plugin in jenkins -->
    <add key="host" value="localhost"/>

    <!--These configuration keys are used for sauce labs execution in Hooks -->
    <add key="platform" value="Windows 10"/>
    <add key="browser" value="phantomjs"/>
    <!-- see saucelabs platform configurator for options -->
    <add key="application.version" value=""/>
    <add key="browserVersion" value="46"/>
    <add key="testenv" value="http://das-searchwebsystemtest.cloudapp.net/"/>
    <add key="service.url" value="http://das-searchwebci.cloudapp.net/"/>
    <add key="testExecutionType" value="headless"/>
    <add key="sauce_labs_account_name" value=""/>
    <add key="sauce_labs_account_key" value=""/>
    <add key="browserstack_user" value=""/>
    <add key="browserstack_key" value=""/>
    <add key="mobile_device" value="Samsung"/>
  </appSettings>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.14350" newVersion="2.6.4.14350"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<specFlow>

  <stepAssemblies>
    <stepAssembly assembly="Sfa.Das.WebTest.Infrastructure"></stepAssembly>
    <stepAssembly assembly="Sfa.Das.WebTest.Pages"></stepAssembly>
    <stepAssembly assembly="SpecBind"/>
  </stepAssemblies>
  <!--<plugins>
    <add name="SpecRun" />
  </plugins>-->
    
    <!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
  
  
    <unitTestProvider name="NUnit"/>
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <plugins>
    <add name="SpecBindGeneratorPlugin" type="Generator"/>
  </plugins>
</specFlow>
<specBind>
<!-- For additional details on SpecBind configuration options see the project site. -->
<browserFactory provider="SpecBind.Selenium.SeleniumBrowserFactory, SpecBind.Selenium" browserType="IE"/>
</specBind>
</configuration>