@import "../fe_toolkit/_conditionals";
@import "../fe_toolkit/_shims";

$module: 'data-list';

//Data list mixin options

//$titleWidth: (int) default: 50
//  Sets the width(%) of the title field (dt) where the remaining space is given to the data field (dd)
//  Options: 'auto' (default) or unitless integar (%)

//$flatten: (bool) default: false
//  If true, it removes bottom spacing from each row

//$flexiWidth: (bool) default: false
//  If true, it changes the explicit widths to max widths allowing for flexible columns


@mixin data-list($titleWidth: 50, $flatten: false, $flexiWidth: false) {

    $widthType: 'max-' !default;
    $dataWidth: 100% - $titleWidth !default;

    @if($flexiWidth == false) {
        $widthType: '';
    }

    @extend %contain-floats;

    dt, dd {
        float: left;
        box-sizing: border-box;
        @if($flatten == false) {
            padding-bottom: $gutter-one-quarter;
        }

        //Force empty elements to follow document flow
        &:empty::after {
            content: '.';
            visibility: hidden;
        }
    }

    dt {
        font-weight: bold;
        #{$widthType}width: $titleWidth * 1%; //force % value
        padding-right: $gutter-one-quarter;
        clear: left;
        margin-bottom: 1em;
    }

    dd {
        #{$widthType}width: $dataWidth;

        //In the cases where child elements have additional bottom spacing we remove it for consistency
        & >:first-child, p:first-child {
            margin-top: 0;
            padding-top: 0;
        }
        //In the cases where child elements have additional top spacing we remove it for consistency
        & >:last-child {
//            margin-bottom: 0;
//            padding-bottom: 0;
        }
        margin-bottom: 1em;
    }

    &.data-list--compact {
        dd, dt {
            margin-bottom: 0;
        }
    }

    //Mobile considerations
    @include media(mobile) {
        dt, dd {
            float: none;
            width: 100%;
            max-width: none;
            padding: 0;

            * > p:first-chiled {
                margin-top: 0;
                padding-top: 0;
            }
        }

        @if($flatten == false) {
            dd {
                padding-bottom: $gutter-two-thirds;
            }
        }
    }

}

//Apply styles to '.data-list'
.data-list {
    @include data-list(30);
    margin-bottom: $gutter;

    ul {
        //TODO: apply '.list-bullet' directly to desired lists in case numbered list may be required interchangably
        @extend .list-bullet;
        margin-bottom: 0; 
    }
}

.provider-detail .data-list ul {
    margin-bottom: 0;
}

.standard-detail .data-list .document-list ul {
    list-style-type: none;
    padding: 0px;
}