<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SearchEndpointConfigurationName" value="BasicHttpBinding_IDedsSearchService"/>
    <add key="GovLearningUrl" value="https://data.gov.uk/dataset/learning-aim-reference-service/datapackage.json" />
    <add key="CsvFileName" value="Standard.csv" />
    <add key="GitUsername" value="frobergsfa"/>
    <add key="GitPassword" value="wcjlfgmnyg7rhqxmgrkk6ob2z3rkfhxakyz2eh5vxg7ldor2i2eq"/>
    <add key="MaxStandards" value="2" />
    <add key="GitBranch" value="refs/heads/master" />
    <add key="VstsGitBaseUrl" value="https://sfa-gov-uk.visualstudio.com/DefaultCollection/Digital%20Apprenticeship%20Service/_apis/git/repositories/SFA-DAS-MetaDataStorage/"/>
    <add key="VstsGitFolderPath" value="standards/local/json"/>
    <add key="VstsGitGetFilesUrl" value=""/>
    <add key="VstsGitAllCommitsUrl" value="" />
    <add key="VstsGitPushUrl" value="" />
    <add key="ElasticServerIp" value="23.101.49.245" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDedsSearchService" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpsBinding_IDedsSearchService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="CommonWsBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false"
          hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
          maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8"
          useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="https://opspubil.opsdes.imservices.org.uk/RoutingService.svc/ReqRes/DedsSearchService/"
        binding="wsHttpBinding" bindingConfiguration="CommonWsBinding"
        contract="DedsService.IDedsSearchService" name="BasicHttpBinding_IDedsSearchService" />-->
      <endpoint address="https://pubil.des.imservices.org.uk/RoutingService.svc/ReqRes/DedsSearchService/" binding="wsHttpBinding" bindingConfiguration="CommonWsBinding" contract="DedsService.IDedsSearchService" name="BasicHttpBinding_IDedsSearchService" />
      <endpoint address="http://fct-mocks-dat.azurewebsites.net/DedsSearchService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDedsSearchService"
        contract="DedsService.IDedsSearchService" name="BasicHttpBinding_IDedsSearchService1" />
      <endpoint address="https://fct-mocks-dat.azurewebsites.net/DedsSearchService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IDedsSearchService"
        contract="DedsService.IDedsSearchService" name="BasicHttpsBinding_IDedsSearchService" />
    </client>
  </system.serviceModel>
</configuration>