<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />      
    </startup>
  <appSettings>
    <add key="indexName" value="elasticsearchmapperattachments-test" />
    <add key="serverUri" value="http://localhost:9200"/>
    <add key="JsonDirectory" value="C:\\Projects\\SFA\\ElasticSearchIndexer\\json"/>
    <add key="PdfDownloadDirectory" value="C:\\Projects\\SFA\\ElasticSearchIndexer\\pdfDownloads"/>
    <add key="SearchEndpointConfigurationName" value="BasicHttpBinding_IDedsSearchService"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="CommonWsBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false"
            hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
            maxReceivedMessageSize="2147483647" messageEncoding="Text"
            textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDedsSearchService" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://opspubil.opsdes.imservices.org.uk/RoutingService.svc/ReqRes/DedsSearchService/"
                binding="wsHttpBinding" bindingConfiguration="CommonWsBinding"
                contract="DedsSearchService.IDedsSearchService" name="BasicHttpBinding_IDedsSearchService" />
      
      <!--<endpoint address="http://fct-mocks-dat.azurewebsites.net/DedsSearchService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDedsSearchService"
        contract="DedsSearchService.IDedsSearchService" name="BasicHttpBinding_IDedsSearchService" />
      <endpoint address="https://fct-mocks-dat.azurewebsites.net/DedsSearchService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IDedsSearchService"
        contract="DedsSearchService.IDedsSearchService" name="BasicHttpsBinding_IDedsSearchService" />-->
    </client>
  </system.serviceModel>
</configuration>