@model IEnumerable<Sfa.Das.Sas.Web.ViewModels.DeliveryModeViewModel>

<fieldset class="filters filters-accordion">
    <h3 class="toggler heading-small">Training options</h3>
    <div class="toggled-content"> 
        <ul>
            @foreach (var item in Model)
            {
                <li>

                    <input value="@item.Value" name="DeliveryModes"  id="DeliveryModes_@item.Value" type="checkbox" @Html.Raw(item.Checked ? "checked" : "") />
                    <label for="DeliveryModes_@item.Value">@item.Title (@item.Count)</label>
                </li>
            }
        </ul>
        <details>
            <summary>Explain training options</summary>
            <div class="panel panel-border-narrow">
                <p>
                    <span class="bold-small">Day release:</span> eg one day a week at the training provider's location.
                </p>
                <p>
                    <span class="bold-small">Block release:</span> eg 3-4 weeks at the training provider's location.
                </p>
                <p>
                    <span class="bold-small">At your location:</span> the provider comes to your workplace.
                </p>
            </div>
        </details>
    </div>
</fieldset>