@model IEnumerable<Sfa.Das.Sas.Web.ViewModels.DeliveryModeViewModel>

<fieldset class="filters filters-accordion">
    <h2 class="toggler heading-small">National providers</h2>
    <div class="toggled-content">
        <ul>
            <li>
                <input value="" name="DeliveryModes" id="NationalProviders" type="checkbox"/>
                <label>Show only national providers (contador)</label>    
            </li>
        </ul>
    </div>
</fieldset>