@model Sfa.Das.Sas.Web.ViewModels.NationalProviderViewModel

<fieldset class="filters filters-accordion">
    <h2 class="toggler heading-small">National training providers</h2>
    <div class="toggled-content">
        <ul>
            <li>
                <input value="true" name="NationalProviders" id="NationalProviders_@Model.Value" type="checkbox" @Html.Raw(Model.Checked ? "checked" : "") />
                <label for="NationalProviders_@Model.Value">only national providers (@Model.Count)</label>
            </li>   
        </ul>
    </div>
</fieldset>