@model Sfa.Das.Sas.Web.ViewModels.ManageApprenticeshipFundsViewModel

@if (Model.IsLevyPayer)
{
    <a id="register_to_manage" href="@Model.Url" style="float: right; margin-top: 10px;" rel="external" target="_blank">Use your available apprenticeship funds</a>
}