  @model Sfa.Das.Sas.Web.ViewModels.ProviderSearchNameResultViewModel
@using (Html.BeginForm("SearchResults", "Provider", FormMethod.Get, new { @class = "search-box" }))
{
    <div class="form-group">
        @{
            if (Model != null && Model.ShortSearchTerm)
            {
                <span class="error-message">Type at least 3 characters</span>
            }

        }
        <label for="searchTerm">
            <span class="form-hint">Enter a training provider name</span>
        </label>
        <span class="error-message"></span>
        @{            
            var searchTermValue = Model?.SearchTerm ?? string.Empty;

            <input type="search" id="searchTerm" name="SearchTerm" class="text-box form-control" maxlength="200" value="@searchTermValue">
        }
        <input class="button" id="submit-keywords" type="submit" value="Search"/>
    </div>
    
    <span class="form-hint">Results will be listed below</span>
}
