  @model Sfa.Das.Sas.Web.ViewModels.ProviderNameSearchResultViewModel
@using (Html.BeginForm("SearchResults", "Provider", FormMethod.Get, new { @class = "search-box" }))
{
    <div class="form-group">
        <div class="search-field">
            <fieldset class="search-input">
                <label for="searchTerm">
                    <span class="form-label-bold">Enter a training provider name</span>
                </label>

                @{
                    var searchTermValue = Model?.SearchTerm ?? string.Empty;
                    <input type="search" id="searchTerm" name="searchTerm" value="@searchTermValue" class="form-control" maxlength="200" value="@searchTermValue" />
                }
            </fieldset>
            <fieldset class="search-submit">
                <button type="submit" id="submit-keywords" class="button">Search</button>
            </fieldset>
        </div>
    </div>  
    <p>Results will be listed below</p>
}
