
    <h1 class="govuk-heading-l">Search Component</h1>
<p class="govuk-body">Model used when passing query infomation to a shared component</p>
<h2 class="govuk-heading-m">Parameters</h2>
<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Parameter</th>
            <th class="govuk-table__header" scope="col">Type</th>
            <th class="govuk-table__header" scope="col">Default value</th>
            <th class="govuk-table__header" scope="col">Description</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">searchQueryModel</td>
        <td class="govuk-table__cell"><a class="govuk-link" asp-controller="Models" asp-action="SearchQueryViewModel" >SearchQueryViewModel</a></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell">The search query model to use to display the search results</td>
    </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">cssModifier</td>
            <td class="govuk-table__cell">string</td>
            <td class="govuk-table__cell">NULL</td>
            <td class="govuk-table__cell">Overrides the default css class modifiers for this component instance</td>

        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">inline</td>
            <td class="govuk-table__cell">bool</td>
            <td class="govuk-table__cell">False</td>
            <td class="govuk-table__cell">Determines if the search button should be rendered inline with the keyword search input box</td>

        </tr>
    </tbody>
</table>
<h2 class="govuk-heading-m">Examples</h2>
<h3 class="govuk-heading-s">Default</h3>
<p class="govuk-body">Either when no inline parameter is provided or set to false.</p>
@await Component.InvokeAsync("FatSearch")
<h3 class="govuk-heading-s">Inline</h3>
<p class="govuk-body">When the inline parameter is set to True.</p>
@await Component.InvokeAsync("FatSearch", new { inline = true })
