<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\sfa\nlog-indexer-internal.log" >
  
  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
    <add assembly="Sfa.Das.Sas.Nlog.CustomLayouts"/>
    <add assembly="SFA.DAS.NLog.Targets.AzureEventHub"/>
  </extensions>
   
  <targets>
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
        layout="${longdate} [${assembly-file-version}] - ${uppercase:${level}} ${message}" />
    <target xsi:type="Debugger" name="debug"/>

    <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="ElasticSearch" uri="http://127.0.0.1:9200,http://192.168.99.100:9200" layout="${message}" includeAllProperties="true" />
    </target>
    
    <target name="eh" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="AzureEventHub" appName="" layout="${message}" eventHubConnectionString="" eventHubName="" partitionKey=""/>
    </target>

    <target name="ai" xsi:type="ApplicationInsightsTarget" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="elastic,ai" />
  </rules>
</nlog>