@using Sfa.Das.Sas.Shared.Components.ViewModels.Css.Interfaces
@model Sfa.Das.Sas.Shared.Components.ViewComponents.SaveApprenticeship.SaveApprenticeshipViewModel
@inject ICssViewModel CssViewModel;

<a href="@Model.SaveUrl" class="@(CssViewModel.Button)" target="_blank" rel="external">SAVE THIS APPRENTICESHIP</a>
