
@{
    ViewBag.Title = "Education and Skills Funding Agency (ESFA) - Cookie Details";
}


<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <header class="page-header">
                <div>
                    <h1 class="heading-xlarge">
                        Details about cookies on the Finding Apprenticeship Training service
                    </h1>
                </div>
            </header>

            <p>
                This service puts small files (known as ‘cookies’) onto your computer to collect information about how you browse the site. Find out more about the cookies we use, what they’re for and when they expire.
            </p>

            <h2 class="heading-medium">
                Cookies that measure website usage
            </h2>

            <p>
                We use Google Analytics software (Universal Analytics) to collect anonymised information about how you use the service. We do this to help make sure the site is meeting the needs of its users and to help us make improvements.
            </p>

            <p>
                We do not allow Google to use or share the data about how you use this site.
            </p>

            <p>
                Google Analytics stores information about:
            </p>

            <ul class="list list-bullet">
                <li>
                    how you got to the site
                </li>
                <li>
                    the pages you visit on this service and how long you spend on them
                </li>
                <li>
                    what you click on while you’re visiting the site
                </li>

            </ul>
            <p>
                We may also set our own cookies to understand how people move through the site.
            </p>

            <table>
                <thead>
                    <tr>
                        <th scope="col" class="cell-width-20">
                            Name
                        </th>
                        <th scope="col" class="cell-width-50">
                            Purpose
                        </th>
                        <th scope="col" class="cell-width-30">
                            Expires
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            _ga
                        </td>
                        <td>
                            Used by Google Analytics, this registers a unique ID to generate statistics about how you use the website
                        </td>
                        <td>
                            2 years
                        </td>
                    </tr>
                    <tr>
                        <td>
                            _gid
                        </td>
                        <td>
                            This registers a unique ID to generate statistics about how you use the website
                        </td>
                        <td>
                            24 hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ict_0
                        </td>
                        <td>
                            This assists third-packing tracking software
                        </td>
                        <td>
                            10 years
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ict_master
                        </td>
                        <td>
                            This registers a unique ID to generate statistics about how you use the website
                        </td>
                        <td>
                            10 years
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ai_session
                        </td>
                        <td>
                            This monitors the performance of the website
                        </td>
                        <td>
                            10 minutes
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ai_user
                        </td>
                        <td>
                            This monitors the performance of the website
                        </td>
                        <td>
                            1 year
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ictf_il
                        </td>
                        <td>
                            This assists third-packing tracking software
                        </td>
                        <td>
                            10 years
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ictf_in
                        </td>
                        <td>
                            This assists third-packing tracking software
                        </td>
                        <td>
                            10 years
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2 class="heading-medium">
                Cookies that help with our communications and marketing
            </h2>

            <p>
                Some of our pages may contain content from other sites, like YouTube, which may set their own cookies. These sites are sometimes called ‘third party’ services. This tells us how many people are seeing the content and whether it’s useful.
            </p>

            <p>
                In addition, if you share a link to one of our pages, the service you share it on (for example, Facebook) may set a cookie. We have no control over cookies set on other websites - you can turn them off, but not through us.
            </p>

            <table>
                <thead>
                    <tr>
                        <th scope="col" class="cell-width-20">
                            Name
                        </th>
                        <th scope="col" class="cell-width-50">
                            Purpose
                        </th>
                        <th scope="col" class="cell-width-30">
                            Expires
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            _fbp
                        </td>
                        <td>
                            This helps deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising after visiting our website
                        </td>
                        <td>
                            3 months
                        </td>
                    </tr>
                    <tr>
                        <td>
                            _gcl_au
                        </td>
                        <td>
                            Used by Google AdSense, this experiments with advertisement efficiency across websites that use their services
                        </td>
                        <td>
                            3 months
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ANON
                        </td>
                        <td>
                            Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you
                        </td>
                        <td>
                            1 month
                        </td>
                    </tr>
                    <tr>
                        <td>
                            MUID
                        </td>
                        <td>
                            <span>Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you</span>
                        </td>
                        <td>
                            1 year
                        </td>
                    </tr>
                    <tr>
                        <td>
                            NAP
                        </td>
                        <td>
                            <span>Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you</span>
                        </td>
                        <td>
                            1 month
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SRCHD
                        </td>
                        <td>
                            <span>Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you</span>
                        </td>
                        <td>
                            2 months
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SRCHHPGUSR
                        </td>
                        <td>
                            <span>Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you</span>
                        </td>
                        <td>
                            4 months
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SRCHUID
                        </td>
                        <td>
                            <span>Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you</span>
                        </td>
                        <td>
                            2 months
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SRCHUSR
                        </td>
                        <td>
                            <span>Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you</span>
                        </td>
                        <td>
                            4 months
                        </td>
                    </tr>
                    <tr>
                        <td>
                            _RwBf
                        </td>
                        <td>
                            <span>Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you</span>
                        </td>
                        <td>
                            4 months
                        </td>
                    </tr>
                    <tr>
                        <td>
                            MUIDB
                        </td>
                        <td>
                            <span>Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you</span>
                        </td>
                        <td>
                            1 month
                        </td>
                    </tr>
                    <tr>
                        <td>
                            _fbp
                        </td>
                        <td>
                            These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising
                        </td>
                        <td>
                            3 months
                        </td>
                    </tr>
                    <tr>
                        <td>
                            act
                        </td>
                        <td>
                            <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
                        </td>
                        <td>
                            When you close your browser
                        </td>
                    </tr>
                    <tr>
                        <td>
                            c_user
                        </td>
                        <td>
                            <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
                        </td>
                        <td>
                            1 year
                        </td>
                    </tr>
                    <tr>
                        <td>
                            datr
                        </td>
                        <td>
                            <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
                        </td>
                        <td>
                            18 months
                        </td>
                    </tr>
                    <tr>
                        <td>
                            fr
                        </td>
                        <td>
                            <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
                        </td>
                        <td>
                            1 year
                        </td>
                    </tr>
                    <tr>
                        <td>
                            presence
                        </td>
                        <td>
                            <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
                        </td>
                        <td>
                            When you close your browser
                        </td>
                    </tr>
                    <tr>
                        <td>
                            sb
                        </td>
                        <td>
                            <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
                        </td>
                        <td>
                            2 years
                        </td>
                    </tr>
                    <tr>
                        <td>
                            spin
                        </td>
                        <td>
                            <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
                        </td>
                        <td>
                            2 years
                        </td>
                    </tr>
                    <tr>
                        <td>
                            wd
                        </td>
                        <td>
                            <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
                        </td>
                        <td>
                            2 years
                        </td>
                    </tr>
                    <tr>
                        <td>
                            xs
                        </td>
                        <td>
                            <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
                        </td>
                        <td>
                            2 years
                        </td>
                    </tr>
                    <tr>
                        <td>
                            _ga
                        </td>
                        <td>
                            <span> Snapchat uses Google Analytics to help improve their services. For example, they can use these cookies to learn more about which features are the most popular with their users and which ones might need some tweaks.</span>
                        </td>
                        <td>
                            2 years
                        </td>
                    </tr>
                    <tr>
                        <td>
                            sc_at
                        </td>
                        <td>
                            <span> Snapchat uses this cookie to deliver advertisements, to make them more relevant and meaningful to consumers, and to track the efficiency of advertising campaigns. </span>
                        </td>
                        <td>
                            1 year
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Personalization_id
                        </td>
                        <td>
                            <span> Twitter uses this cookie for integration of its services and sharing capabilities from the website to social media, as well as tracking and targeting. </span>
                        </td>
                        <td>
                            2 years
                        </td>
                    </tr>
                    <tr>
                        <td>
                            i/adsct
                        </td>
                        <td>
                            <span> Twitter uses this cookie to allow tailored advertising based on our actions on this website.</span>
                        </td>
                        <td>
                            Session
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ad_id
                        </td>
                        <td>
                            <span> Amazon uses this cookie to allow tailored advertising based on our actions on this website. </span>
                        </td>
                        <td>
                            9 months
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ad_privacy
                        </td>
                        <td>
                            <span> Amazon uses this cookie to allow tailored advertising based on our actions on this website</span>
                        </td>
                        <td>
                            9 months
                        </td>
                    </tr>
                    <tr>
                        <td>
                            _ppcMktoCmp
                        </td>
                        <td>
                            <span> This cookie is set by Marketo with an ID from the link that brought you to the page. </span>
                        </td>
                        <td>
                            30 days
                        </td>
                    </tr>
                    This cookie is set by Marketo. This allows a website to track visitor behavior on the sites on which the cookie is installed and to link a visitor to the recipient of an email marketing campaign, to measure campaign effectiveness. Tracking is performed anonymously until a user is identified by submitting a form.
                    <tr>
                        <td>
                            _mkto_trk
                        </td>
                        <td>
                            <span> This cookie is set by Marketo. This allows a website to track visitor behavior on the sites on which the cookie is installed and to link a visitor to the recipient of an email marketing campaign, to measure campaign effectiveness. Tracking is performed anonymously until a user is identified by submitting a form. </span>
                        </td>
                        <td>
                            2 years
                        </td>
                    </tr>
                    <tr>
                        <td>
                            L1c
                        </td>
                        <td>
                            <span>Linkedin uses this cookie to allow tailored advertising based on our actions on this website. </span>
                        </td>
                        <td>
                            Session
                        </td>
                    </tr>
                    <tr>
                        <td>
                            BizoID
                        </td>
                        <td>
                            <span>Linkedin uses this cookie to allow tailored advertising based on our actions on this website. </span>
                        </td>
                        <td>
                            6 months
                        </td>
                    </tr>
                    <tr>
                        <td>
                            BizoData
                        </td>
                        <td>
                            <span>Linkedin uses this cookie to allow tailored advertising based on our actions on this website. </span>
                        </td>
                        <td>
                            6 months
                        </td>
                    </tr>
                    <tr>
                        <td>
                            BizoUserMatchHistory
                        </td>
                        <td>
                            <span> Linkedin uses this cookie to allow tailored advertising based on our actions on this website.</span>
                        </td>
                        <td>
                            6 months
                        </td>
                    </tr>
                    <tr>
                        <td>
                            BizoNetworkPartnerIndex
                        </td>
                        <td>
                            <span> Linkedin uses this cookie to allow tailored advertising based on our actions on this website.</span>
                        </td>
                        <td>
                            6 months
                        </td>
                    </tr>

                </tbody>
            </table>

            <h2 class="heading-medium">
                Strictly necessary cookies
            </h2>

            <p>
                These cookies carry out essential tasks to help the service perform correctly. For example, we might save a cookie to let us know how many times you’ve seen a message we’ve shown on a page, or if you’ve dismissed it.
            </p>

            <table>
                <thead>
                    <tr>
                        <th scope="col" class="cell-width-20">
                            Name
                        </th>
                        <th scope="col" class="cell-width-50">
                            Purpose
                        </th>
                        <th scope="col" class="cell-width-30">
                            Expires
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>FIU_User</td>
                        <td>This assists Google Analytics</td>
                        <td>1 month</td>
                    </tr>
                    <tr>
                        <td>
                            __cfduid
                        </td>
                        <td>
                            Associated with sites using CloudFlare, this is used to make pages load more quickly
                        </td>
                        <td>
                            3 months
                        </td>
                    </tr>
                    <tr>
                        <td>
                            APISID
                        </td>
                        <td>
                            YouTube may set this cookie on your computer once you click on the YouTube video player
                        </td>
                        <td>
                            2 years
                        </td>
                    </tr>
                    <tr>
                        <td>
                            CONSENT
                        </td>
                        <td><span>YouTube may set this cookie on your computer once you click on the YouTube video player</span></td>
                        <td>
                            20 years
                        </td>
                    </tr>
                    <tr>
                        <td>
                            HSID
                        </td>
                        <td><span>YouTube may set this cookie on your computer once you click on the YouTube video player</span></td>
                        <td>
                            2 years
                        </td>
                    </tr>
                    <tr>
                        <td>
                            LOGIN_INFO
                        </td>
                        <td><span>YouTube may set this cookie on your computer once you click on the YouTube video player</span></td>
                        <td>
                            18 months
                        </td>
                    </tr>
                    <tr>
                        <td>
                            PREF
                        </td>
                        <td><span>YouTube may set this cookie on your computer once you click on the YouTube video player</span></td>
                        <td>
                            2 years
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SAPISID
                        </td>
                        <td><span>YouTube may set this cookie on your computer once you click on the YouTube video player</span></td>
                        <td>
                            2 years
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SID
                        </td>
                        <td><span>YouTube may set this cookie on your computer once you click on the YouTube video player</span></td>
                        <td>
                            2 years
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SIDCC
                        </td>
                        <td><span>YouTube may set this cookie on your computer once you click on the YouTube video player</span></td>
                        <td>
                            3 months
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SSID
                        </td>
                        <td><span>YouTube may set this cookie on your computer once you click on the YouTube video player</span></td>
                        <td>
                            2 years
                        </td>
                    </tr>
                    <tr>
                        <td>
                            VISITOR_INFO1 _LIVE
                        </td>
                        <td><span>YouTube may set this cookie on your computer once you click on the YouTube video player</span></td>
                        <td>
                            1 year
                        </td>
                    </tr>
                    <tr>
                        <td>
                            YSC
                        </td>
                        <td><span>YouTube may set this cookie on your computer once you click on the YouTube video player</span></td>
                        <td>
                            When you close your browser
                        </td>
                    </tr>
                    <tr>
                        <td>
                            _ga
                        </td>
                        <td><span>YouTube may set this cookie on your computer once you click on the YouTube video player</span></td>
                        <td>
                            1 year
                        </td>
                    </tr>
                    <tr>
                        <td>
                            .AspNetCore .Antiforgery
                        </td>
                        <td>
                            This enables the website to function properly
                        </td>
                        <td>
                            When you close your browser
                        </td>
                    </tr>
                    <tr>
                        <td>
                            AnalyticsConsent
                        </td>
                        <td>
                            This lets us know whether you've given us permission to track your activity for analytics purposes
                        </td>
                        <td>
                            1 year
                        </td>
                    </tr>
                    <tr>
                        <td>
                            BNES_.AspNetCore .Antiforgery
                        </td>
                        <td>
                            This enables the website to function properly
                        </td>
                        <td>
                            When you close your browser
                        </td>
                    </tr>
                    <tr>
                        <td>
                            BNES_samesite
                        </td>
                        <td>
                            This enables the website to function properly
                        </td>
                        <td>
                            When you close your browser
                        </td>
                    </tr>
                    <tr>
                        <td>
                            CookieConsent
                        </td>
                        <td>
                            This stores your cookie consent preferences
                        </td>
                        <td>
                            1 year
                        </td>
                    </tr>
                    <tr>
                        <td>
                            MarketingConsent
                        </td>
                        <td>
                            This stores your marketing cookie consent preferences
                        </td>
                        <td>
                            1 year
                        </td>
                    </tr>
                </tbody>
            </table>


            <h3 class="heading-small">
                Change your settings
            </h3>

            <p>You can <a href="/cookies">change which cookies you're happy for us to use</a>.</p>

        </div>
    </div>
</main>
