
@{
    ViewBag.Title = "Education and Skills Funding Agency (ESFA) - Cookie Details";
}


<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <header class="page-header">
                <div>
                    <h1 class="heading-xlarge">
                        Cookie details
                    </h1>
                </div>
            </header>

        </div>
    </div>
</main>
