@{
    ViewBag.Title = "Digital Apprenticeship Service - Start";
}
<main id="content" role="main">

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="survey-panel survey-panel-top">
                <h2 class="bold-large">
                    Give us your feedback
                </h2>
                <p>
                    This is a new service and your feedback will help us improve it.<br />
                    Take our short survey using the link at the top of every page.
                </p>
            </div>

            <h1 class="heading-xlarge">
                Find apprenticeship training
            </h1>

            <p>If you are considering employing an apprentice,&nbsp;use this service to find:</p>

            <ul class="list list-number">
                <li>an apprenticeship that sets out the skills, knowledge and behaviours needed for the role</li>
                <li>an organisation to provide training for your apprentice</li>
            </ul>

            <h2 class="heading-large">Your responsibilities</h2>

            <p>Apprentices must be aged 16 or over and combine working with learning. They can be new or current employees.</p>
            
            <p>If you hire an apprentice you must:</p>

            <ul class="list list-bullet">
                <li>employ them for at least 30 hours a week</li>
                <li>pay them at least the minimum wage for apprentices</li>
                <li>offer them the same conditions and benefits as other employees working at a similar level</li>
                <li>provide experience and opportunities to help with future job progression</li>
                <li>allow them to attend training and assessment during their working hours</li>
            </ul>

            @using (Html.BeginForm("Search", "Apprenticeship"))
            {
                <input class="button margin-top-x2 button-start" id="start-button" type="submit" value="Start" />
            }

        </div>
    </div>

</main>