@{
    ViewBag.Title = "Digital Apprenticeship Service - Start";
}
<main id="content" role="main">

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="survey-panel survey-panel-top">
                <h2 class="bold-large">
                    Give us your feedback
                </h2>
                <p>
                    This is a new service and your feedback will help us improve it.<br />
                    Take our short survey using the link at the top of every page.
                </p>
            </div>

            <h1 class="heading-xlarge">
                Find apprenticeship training
            </h1>

            <p>For employers looking to take on apprenticeships.</p>

            <p>You can:</p>

            <ul class="list list-bullet">
                <li>search for apprenticeship training by job role or keyword</li>
                <li>search for training providers by postcode</li>
            </ul>

            @Html.ActionLink("Start", "Search", "Apprenticeship", null, new { id = "start-button", @class = "button margin-top-x2 button-start" })

            <h2 class="heading-large">What you need to know</h2>

            <p>Apprentices must be aged 16 or over and combine working with learning. They can be new or current employees.</p>

            <p>If you hire an apprentice you must:</p>

            <ul class="list list-bullet">
                <li>usually employ them for at least 30 hours a week</li>
                <li>pay them at least the minimum wage for apprentices</li>
                <li>offer them the same conditions and benefits as other employees working at a similar level</li>
                <li>provide experience and opportunities to help with future job progression</li>
                <li>allow them to attend training and assessment during their working hours</li>
            </ul>

        </div>
    </div>

</main>