<footer class="gov-border" role="contentinfo">
    <div class="footer__wrapper">
        <div class="footer__meta">
            <ul class="footer__nav">
                <li class="small-btm-margin">
                    <a class="footer__link bold-medium" href="#"  onClick="noStandard()">Contact us</a>
                    <a class="footer__link bold-medium" href="#" onClick="noStandard()">Give feedback</a>
                </li>
                <li class="footer__link"><a href="#" onClick="noStandard()">Privacy and cookies</a></li>
                <li class="footer__link"><a href="#" onClick="noStandard()">Terms and conditions</a></li>
                <li class="footer__link">Built by the <a href="http://gov.uk/sfa" target="_blank">Skills Funding Agency</a></li>
                <li class="footer__ogl"><a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2" class="ir ogl-logo">OGL</a>All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">Open Government Licence v3.0</a>, except where otherwise stated</li>
            </ul>
            <a class="footer__copyright" href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm" target="_blank">
                <img src="images/govuk-crest-2x.png" width="125" height="102" alt="Crown copyright logo">
                <p>© Crown copyright</p>
            </a>
        </div>
      
    </div>
</footer>
