<head>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Employ and apprentice</title>
    <meta name="description" content="Description to go here" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="date=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="ROBOTS" content="NOFOLLOW,NOINDEX" />

    <link href="styles/screen.min.css" rel="stylesheet" />
    <link href="styles/fonts.css" rel="stylesheet" />

    <%#
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/images/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="assets/images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" href="assets/images/apple-touch-icon-60x60.png" />
    %>

</head>
