<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FeatureToggle" version="3.4.0" targetFramework="net452" />
  <package id="FeatureToggle.Core" version="3.4.0" targetFramework="net452" />
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net452" />
  <package id="MediatR" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="NLog" version="4.4.3" targetFramework="net452" />
  <package id="SFA.DAS.Apprenticeships.Api.Types" version="0.11.37" targetFramework="net462" />
  <package id="SFA.DAS.AssessmentOrgs.Api.Client" version="0.10.110" targetFramework="net452" />
  <package id="SFA.DAS.NLog.Logger" version="1.0.0.26805" targetFramework="net452" />
  <package id="SFA.DAS.Providers.Api.Client" version="0.10.131-prerelease" targetFramework="net462" />
  <package id="SonarLint" version="2.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="structuremap" version="4.2.0.402" targetFramework="net452" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
</packages>