@import "govuk-templates";
@import "govuk-elements";
@import "_elements";
@import "_fonts";

@import "custom-elements/_data-list";
@import "custom-elements/_address";
@import "custom-elements/_results";
@import "custom-elements/_mq-classes";

@import "partials/_footer";
@import "partials/_header";
@import "partials/_phases";
@import "partials/_details";
@import "partials/_headings";
@import "partials/_related";

//TODO: Give the following rogue styles a logical home
strong {
  font-weight: bold;
}

main {
  min-height:450px;
  .visibility-hidden{
      visibility:hidden;
  }
}


.js-enabled .block-label.selection-button-radio:before, 
.form-control {
    background: #fff;
}

.small-btm-margin {
  margin-bottom: 5px;
}

aside h2:first-child {
  margin-top: 15px;
}

.postcode-search-form {
    @extend %contain-floats;
    background-color: $grey-3;
    padding: 20px 20px 0;
    margin-bottom: 20px;
    h2 {
        margin: 0 0 20px;
    }
    label {
        margin: 0 0 20px;
    }
    details {
        margin: 20px 0;
    }
}

.postcode-form input[type="search"]{
    max-width: 150px;
}

.postcode-form .error-message{
    display: none;
}

.postcode-form .error .error-message {
    display: block;
}

.phase-banner-beta .phase-tag {
    display: block;
    width: auto;
    float: left;
}

.cookie-banner .content-container{
    margin: 0 auto;
    max-width: 960px;
    padding: 0 15px;
}

.meta-data{
    .modmodified-date{
        font-size: 15px;
    }
}

.container table{
    margin: 20px 0 35px;
}

.markdown {
    h2 {
        @include heading-36;
        font-weight: bold;
    }
    h3 {
        @include heading-27;
        font-weight: bold;
    }
    h4 {
        @include heading-24;
        font-weight: bold;
    }
    h5 {
        font-weight: bold;
    }
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
    }
    ol, ul {
        margin-left: 0;
        padding-left: 2rem;
        li {
            margin-left: .5rem;
            padding-left: 0;
        }
        margin-bottom: 1rem;
    }
    blockquote {
        clear: both;
        display: block;
        border-left: 5px solid #bfc1c3;
        padding: 0.7894736842em;
        margin-bottom: 0.7894736842em;
        :first-child {
            margin-top: 0;
        }

        :only-child,
        :last-child {
            margin-bottom: 0;
        }
    }
}

.filter-box {
    margin-bottom: 30px;
}

/* Temp css for Dashboard */
.apprenticeship-items {
    border-top: 1px solid gray;
    li {
        margin: 5px 0;
        padding: 5px 0;
    }
    .apprenticeship-item {
        border-bottom: 1px solid gray;
    }
    .action {
        float: right;
    }
    .providers {
        margin-left: 40px;
    }
}

.expire-date{
    padding: 10px 0;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    > div i, span{
        vertical-align: middle;
    }
    > div{
        display: inline;
    }
    i{
        font-size: 40px;
        padding: 5px 12px 5px 0;
    }
    span.icon{
        margin: auto auto;
        font-family: serif;
        font-size: 1.7em;
        font-weight: bold;
        line-height: 25px;
        padding: 0 8px;
    }
}


/* Stats */

.stats-summary {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block
}

.stats-summary li {
    margin: 0;
    display: block;
    float: left
}

.stats-summary li a {
    text-decoration: none;
    display: block
}

.stats-summary li figure.data .count {
    font-family: "ntatabularnumbers","nta",Arial,sans-serif;
    font-size: 48px;
    line-height: 1.04167;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    margin-bottom: 0
}

@media(max-width: 640px) {
    .stats-summary li figure.data .count {
        font-size:32px;
        line-height: 1.09375
    }
}

@media screen and (max-width: 640px) {
    .stats-summary li figure.data .count {
        padding:.25em 0;
        font-family: "ntatabularnumbers","nta",Arial,sans-serif;
        font-size: 48px;
        line-height: 1.04167;
        font-weight: 400;
        text-transform: none;
        font-weight: 700
    }
}

@media screen and (max-width: 768px) {
    .stats-summary li figure.data .count {
        font-family:"ntatabularnumbers","nta",Arial,sans-serif;
        font-size: 48px;
        line-height: 1.04167;
        font-weight: 400;
        text-transform: none;
        font-weight: 700;
        vertical-align: middle;
        display: inline-block;
        margin-right: 10px
    }
}

@media screen and (max-width: 768px) and (max-width:640px) {
    .stats-summary li figure.data .count {
        font-size:32px;
        line-height: 1.09375
    }
}

@media screen and (min-width: 769px) {
    .stats-summary li figure.data .count {
        text-align:center
    }
}

.stats-summary li figure.data figcaption {
    display: block
}

@media screen and (max-width: 768px) {
    .stats-summary li figure.data figcaption {
        vertical-align:middle;
        display: inline-block;
        margin-right: 10px
    }
}

.stats-summary li figure.data figcaption h2 {
    font-family: "nta",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    font-weight: 700;
    margin-bottom: 0
}

@media(max-width: 640px) {
    .stats-summary li figure.data figcaption h2 {
        font-size:14px
    }
}

@media screen and (max-width: 640px) {
    .stats-summary li figure.data figcaption h2 {
        font-family:"nta",Arial,sans-serif;
        font-size: 16px;
        line-height: 1.25;
        font-weight: 300;
        text-transform: none;
        font-weight: 700
    }
}

@media screen and (max-width: 640px) and (max-width:640px) {
    .stats-summary li figure.data figcaption h2 {
        font-size:14px
    }
}

@media screen and (min-width: 769px) {
    .stats-summary li figure.data figcaption h2 {
        text-align:center
    }
}

.stats-summary li figure.data figcaption.underline {
    text-decoration: underline
}

@media screen and (max-width: 640px) {
    .stats-summary li {
        width: 100%
    }
}

@media screen and (min-width: 641px) {
    .stats-summary {
        display: flex;
        margin-bottom: 25px;
    }
}

@media screen and (min-width: 641px) and (max-width:768px) {
    .stats-summary li {
        width: 50%
    }
}

@media screen and (min-width: 769px) {
    .stats-summary li {
        width: 25%
    }
}

.page-navigation {
    margin-top: 10px;
}

.page-navigation__btn {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1em;
    margin-right: -4px;
    overflow: hidden;
    padding: 1.2em 0.6em;
    text-decoration: none;
    vertical-align: top;
    width: 50%;
    &:active, 
    &:focus {
        background: $grey-4;
    }
    .description {
        display: block;
    }
    .counter {
        display: block;
        font-size: 14px;
    }
    .arrow-button {
        color: #2e358b;
        float: left;
        font-size: 3.5em;
        margin: 0;
        display: block;
        width: 30px;
        height: 40px;
        background: url('/Content/dist/images/arrow-sprite.png');
        background-position: -4px -2px;
    }
    &.next {
        float: right;
        text-align: right;
        .arrow-button {
            float: right;
            background-position: -86px -2px;
        }
    }
    .hide-mob {
        display: none;
        @media screen and (min-width: 640px) {
            display: inline-block;
        }
    }
}

.search-form {
    .form-control {
        line-height: 1.45em;
    }
    .button {
        margin-top: 5px;
    }
}

@media screen and (min-width: 640px) {
    .search-form {
        .button {
            margin-top: 0;
        }
    }
}

// Layout 

.pull-left {
    float: none;
    @media screen and (min-width: 640px) {
        float: left;
    }
}
.pull-right {
    float: none;
    @media screen and (min-width: 640px) {
        float: right;
    }
}

/*custom styles to override defaults*/

.standard-detail{
    .column-full{
        details{
         clear:none;
            summary {
                width:70%;
            }
        }
        .collapsible{
        width:30%;
        font-weight: bold; 
        position: relative; 
        float:left;   
        }
    }

    .text-copy{
       float: right;
       width:70%;
    }
}

.standard-detail, .framework-detail{
    .btn-find-trng-prov{
        margin-top:30px;
    }
}

.icon-alerts{
    clear:both;
    float:left;
    width:100%;
    margin-bottom:30px;
    .icon-right{
        display:block;
        clear:both;
        line-height:1.8em;
            .icon-content{
                display:block;
                float:left;
                margin-right:10px;
            }
                .green-tick{
                    display:block;
                    background:url("images/green-tick.png")0 0 no-repeat;
                    width:20px;
                    height:20px;
                    float:left;
                    margin:5px 20px 0 0;
                }
                .red-cross{
                    display:block;
                    background:url("images/red-cross.png")0 0 no-repeat;
                    width:20px;
                    height:20px;
                    float:left;
                    margin:5px 20px 0 0;

                }
    }
    .inline-alert{line-height:normal;}
}

.data-list--provider {
   .icon-alerts{
    clear:none;
        .icon-right{
            display:list-item;
            }   
    }
}

.result-data-list{
    dt.strong{     
            font-weight:bold;  
            line-height:1.4em;   
    }
}

/*Provider detail table view page*/
.provider-detail{
   #provider-name{
       line-height:1.5em;
       margin-bottom:1.3em;
        .tag-national{
            background:$grey-2;
            padding:0px 40px 8px 40px;
            color:#fff;   
            margin-left: 60px;  
            .font-adjust{
                 font-size:25px;
                font-weight:normal;
            }      
        }

    }
   .markdown-header-text{
       font-weight:bold;
       margin-top:20px;
   }
   #search-app-offered{
       margin-bottom:30px;
       .app-offered{
             float:left;   
       }
       /*Search box styles*/
       #search-box{
               @include media(tablet) {float:right; margin:0;}
               float:left;
               margin:20px 0;
              
           .search-text{
		        margin: 0;
		        padding: 10px;
		        font-family: Arial, Helvetica, sans-serif;
		        font-size:14px;
		        color:#666;
		        border:1px solid $border-colour; 
		        border-right:0px;
	        }
	            .submit-search {
		            margin: 0 0 0 -4px;
		            padding: 0;
		            width: 40px;
                    height: 39px;
                     @include media(tablet) {height:40px;}
		            font-family: Arial, Helvetica, sans-serif;
		            font-size:14px;
		            font-weight:bold;
		            outline: none;
		            cursor: pointer;
		            text-align: center;
		            text-decoration: none;
		            color: #ffffff;
		            border:0; 
		            background: $light-blue url('images/search-glass.png') no-repeat 6px 7px;
	            }
	            /* Fixes submit button height problem in Firefox */
	            .submit-search::-moz-focus-inner {
	              border: 0;
	            }
       }

   }
   .panel--satisfaction{
        margin-top:30px;
   }
   .panel-disclaimer{
    font-size: 14px;
    line-height: 1.429;
    margin-top:30px;
    h4{
        font-size: 16px;
        font-weight:bold;
        line-height: 1.25;
    }
   }
   #expand-collapse{
       margin-top:30px;
       details{
           margin:20px 0;
       }
   }
   table.app-details{
       margin-top:60px;
   }
}