@import "govuk-templates";
@import "govuk-elements";
@import "_elements";
@import "_fonts";
@import "_fontawesome";

@import "custom-elements/_data-list";
@import "custom-elements/_address";
@import "custom-elements/_results";
@import "custom-elements/_mq-classes";

@import "partials/_footer";
@import "partials/_header";
@import "partials/_phases";
@import "partials/_details";
@import "partials/_headings";
@import "partials/_related";

//TODO: Give the following rogue styles a logical home
main {
  min-height:450px;
}

.small-btm-margin {
  margin-bottom: 5px;
}

aside h2:first-child {
  margin-top: 15px;
}

.postcode-form input[type="search"]{
    max-width: 150px;
}

.postcode-form .error-message{
    display: none;
}

.postcode-form .error .error-message{
    display: block;
}

.phase-banner-beta .phase-tag {
    display: block;
    width: auto;
    float: left;
}

.markdown {
    h2 {
        @include heading-36;
        font-weight: bold;
    }
    h3 {
        @include heading-27;
        font-weight: bold;
    }
    h4 {
        @include heading-24;
        font-weight: bold;
    }
    h5 {
        font-weight: bold;
    }
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
    }
    ol, ul {
        margin-left: 0;
        padding-left: 2rem;
        li {
            margin-left: .5rem;
            padding-left: 0;
        }
        margin-bottom: 1rem;
    }
    blockquote {
        clear: both;
        display: block;
        border-left: 5px solid #bfc1c3;
        padding: 0.7894736842em;
        margin-bottom: 0.7894736842em;
        :first-child {
            margin-top: 0;
        }

        :only-child,
        :last-child {
            margin-bottom: 0;
        }
    }
}


.filter-mobile {
    margin-bottom: 30px;
}

@media (min-width: 641px) {
    .filter-mobile{
        display: none;
    } 
}

@media (max-width: 641px) {
    .filter-desktop{
        display: none;
    } 
} 