@import "govuk-templates";
@import "govuk-elements";
@import "_elements";
@import "_fonts";

@import "custom-elements/_data-list";
@import "custom-elements/_address";
@import "custom-elements/_results";
@import "custom-elements/_mq-classes";

@import "partials/_footer";
@import "partials/_header";
@import "partials/_phases";
@import "partials/_details";
@import "partials/_headings";
@import "partials/_related";

//TODO: Give the following rogue styles a logical home
main {
  min-height:450px;
}

.small-btm-margin {
  margin-bottom: 5px;
}

aside h2:first-child {
  margin-top: 15px;
}

input[name="PostCode"]{
    max-width: 150px;
}

.phase-banner-beta .phase-tag {
    display: block;
    width: auto;
    float: left;
}

.markdown {
    h2 {
        @include heading-36;
        font-weight: bold;
    }
    h3 {
        @include heading-27;
        font-weight: bold;
    }
    h4 {
        @include heading-24;
        font-weight: bold;
    }
    h5 {
        @include heading-19;
        font-weight: bold;
    }
    h6 {
        @include heading-16;
        font-weight: bold;
    }
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
    }
    ol, ul {
        margin-left: 0;
        padding-left: 2rem;
        li {
            margin-left: .5rem;
            padding-left: 0;
        }
        margin-bottom: 1rem;
    }
}