<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="service.url" value="http://das-prd-search.cloudapp.net"  xdt:Locator="Match(key)" xdt:Transform="Replace" />

    <add key="data.framework.JOBROLE" value="Construction Building: Wood Occupations" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="data.framework.Postcode" value="EX4 4JS" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
  </appSettings>
</configuration>