<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="application.version" value=""/>
    <add key="service.url" value="http://das-searchwebci.cloudapp.net" />
    <!--<add key="RemoteUrl" value="http://hub.browserstack.com:80/wd/hub/"/>-->
    <add key="browserstack.user" value=""/>
    <add key="browserstack.key" value=""/>
    <add key="project" value="DAS.Search"/>

    <add key="browser" value="phantomjs"/>

    <!-- IE 8 bad -->
    <!--<add key="browser" value="internet explorer"/>
    <add key="os" value="Windows"/>
    <add key="os_version" value="7"/>
    <add key="browser_version" value="8"/>-->

    <!-- Edge -->
    <!-- known issue https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/5238133/ -->
    <!--<add key="browser" value="edge"/>
    <add key="os" value="Windows"/>
    <add key="os_version" value="10"/>-->

    <!-- Android 4.1 bad-->
    <!--<add key="browser" value="Android"/>
    <add key="device" value="Samsung Galaxy S3"/>
    <add key="os" value="android"/>
    <add key="browser_version" value="4.1"/>-->

    <!-- Android 4.2 bad -->
    <!--<add key="browser" value="Android"/>
    <add key="device" value="Google Nexus 4"/>
    <add key="os" value="android"/>
    <add key="browser_version" value="4.2"/>-->

    <!-- Android 4.3 bad -->
    <!--<add key="browser" value="Android"/>
    <add key="device" value="Samsung Galaxy S4"/>
    <add key="os" value="android"/>
    <add key="browser_version" value="4.3"/>-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.14350" newVersion="2.6.4.14350" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="Sfa.Das.WebTest.Infrastructure"></stepAssembly>
      <stepAssembly assembly="Sfa.Das.WebTest.Pages"></stepAssembly>
    </stepAssemblies>
    <unitTestProvider name="NUnit" />
  </specFlow>
</configuration>