@import "govuk-templates";
// @import "govuk-elements";
@import "_elements";

@import "partials/_footer";
@import "partials/_header";
@import "partials/_phases";
@import "partials/_results";
@import "partials/_details";
@import "partials/_headings";
@import "partials/_related";


main {
  min-height:450px;
}

.small-btm-margin {
  margin-bottom: 5px;
}

aside h2:first-child {
  margin-top: 15px;
}
