@model Sfa.Das.Sas.Shared.Components.ViewModels.AddToBasketModel
@using Sfa.Das.Sas.Shared.Components.ViewModels.Css.Interfaces
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject ICssViewModel CssViewModel


<form asp-controller="Basket" asp-action="Add" method="post">
    <div class="@(CssViewModel.FormCss.FormGroup)">
        <button type="submit" class="@(CssViewModel.Button)" name="selectedItem" value="@($"{Model.ApprenticeshipId}${Model.Ukprn}")">
            Add to Favourites
        </button>
    </div>
</form>