@model Sfa.Eds.Das.Web.ViewModels.StandardViewModel

<div>
        @if (Model.HasError)
        {
            @RenderErrorMessage()
        }
</div>

    @helper  RenderErrorMessage()
{
    <p id="postcode-error">
        This field can't be blank
    </p>
}

