@model Sfa.Das.Sas.ApplicationServices.Queries.ApprenticeshipSearchQuery
@{
    ViewBag.Title = "Home Page";
    ViewBag.Description = "The Find Apprenticeship Training service is for employers in England who want to find training courses for their apprentices and search for training providers.";
}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                Find apprenticeship training
            </h1>
            @using (Html.BeginForm("SearchResults", "Apprenticeship", FormMethod.Get, new {@class = "search-box"}))
            {
                <div class="form-group">
                    <!-- EXAMPLE: format of HTML and Classes to be used to get the icons to the right -->
                    <div class="icon-alerts">
                        <p class="icon-right">
                            <span class="icon-content">Green tick (use class="green-tick")</span>
                            <span class="green-tick"></span>
                        </p>

                        <p class="icon-right">
                            <span class="icon-content">Red cross (use class="red-cross")</span>
                            <span class="red-cross"></span>
                        </p>
                    </div>
                    <!-- END -->
                    <label for="keywords">
                        <span class="form-label-bold">Search by keywords</span>
                        <span class="form-hint">Can include job title or apprenticeship</span>
                    </label>
                    <span class="error-message"></span>
                    <input type="search" id="keywords" name="Keywords" class="text-box form-control" maxlength="200">
                </div>
                <input class="button" id="submit-keywords" type="submit" value="Search"/>
            }

        </div>
    </div>
</main>