@model Sfa.Das.Sas.Web.ViewModels.ApprenticeshipSearchViewModel
@{
    ViewBag.Title = "Home Page";
    ViewBag.Description = "The Find Apprenticeship Training service is for employers in England who want to find training courses for their apprentices and search for training providers.";
    ViewBag.PageID = "search-provider-home";
}
<main id="content" role="main">
    <div class="grid-row apprenticeship-search">
        <div class="column-two-thirds">
            <a class="link-back" href="/">Back</a>
            <h1 class="heading-xlarge">
                Find apprenticeship training
            </h1>
            @using (Html.BeginForm("SearchResults", "Apprenticeship", FormMethod.Get, new { @class = "search-box apprenticeship-search-form" }))
            {
                <div class="form-group">
                    <label for="keywords">
                        <span class="form-label">Apprenticeship name or job role</span>
                    </label>
                    <span class="error-message"></span>
                    <div id="apprenticeships-container" data-api-url="@($"{Model.ApprenticeshipInfoApiBaseUrl}/v3/apprenticeship-programmes/autocomplete")">
                        <input type="search" id="keywords" name="Keywords" class="text-box form-control" maxlength="200">
                    </div>
                </div>
                <input class="button" id="submit-keywords" type="submit" value="Search apprenticeship training" />
            }

            <span id="search-training-provider">You can also @Html.ActionLink("search for a training provider", "Search", "Provider")</span>
        </div>
    </div>
</main>
