@model Sfa.Das.Sas.ApplicationServices.Queries.ApprenticeshipSearchQuery
@{
    ViewBag.Title = "Home Page";
    ViewBag.Description = "The Find Apprenticeship Training service is for employers in England who want to find training courses for their apprentices and search for training providers.";
    ViewBag.PageID = "search-provider-home";
}
<main id="content" role="main">
    <div class="grid-row apprenticeship-search">
        <div class="column-two-thirds">
            <a class="link-back" href="/">Back</a>
            <h1 class="heading-xlarge">
                Find apprenticeship training
            </h1>
            @using (Html.BeginForm("SearchResults", "Apprenticeship", FormMethod.Get, new { @class = "search-box apprenticeship-search-form" }))
            {
                <div class="form-group">
                    <label for="keywords">
                        <span class="form-label">Apprenticeship name or job role</span>
                    </label>
                    <span class="error-message"></span>
                    <div id="apprenticeships-container">
                        <input type="search" id="keywords" name="Keywords" class="text-box form-control" maxlength="200">
                    </div>
                </div>
                <input class="button" id="submit-keywords" type="submit" value="Search apprenticeship training" />
            }

            <span id="search-training-provider">You can also @Html.ActionLink("search for a training provider", "Search", "Provider")</span>
        </div>
    </div>
</main>

@section Scripts {
    <script src="https://das-at-frnt-end.azureedge.net/libs/accessible-autocomplete/accessible-autocomplete.min.js"></script>
    <script>

        var container = document.querySelector('#apprenticeships-container');
        container.innerHTML = '';

        var getSuggestions = function (query, updateResults) {

            let results = [];

            $.ajax({
                url: "https://at-fatapi.apprenticeships.education.gov.uk/apprenticeship-programmes/search?keywords=" + query + "&page=1",
            }).done(function (data) {
                data.forEach(function (apprenticeship) {
                    results.push(apprenticeship.Title)
                });
                updateResults(results)
            });
        }

        accessibleAutocomplete({
            element: container,
            id: 'keywords',
            displayMenu: 'overlay',
            source: getSuggestions
        })



    </script>
}