@model Sfa.Das.Sas.ApplicationServices.Queries.ApprenticeshipSearchQuery
@{
    ViewBag.Title = "Home Page";
}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                Find apprenticeship training
            </h1>

            @using (Html.BeginForm("SearchResults", "Apprenticeship", FormMethod.Get, new {@class = "search-box"}))
            {
                <div class="form-group">
                    <legend>
                        <label for="keywords">
                           Enter a job role or keyword (for example 'accountant' or 'engineering')
                        </label>

                        <span class="error-message"></span>
                    </legend>
                    <input type="search" id="keywords" name="Keywords" class="text-box form-control" maxlength="200" style="width: 50%;" placeholder="">
                </div>
                <input class="button margin-top-x2" id="submit-keywords" type="submit" value="Search"/>
            }

        </div>
    </div>
</main>