@model Sfa.Das.Sas.MetadataTool.Web.Controllers.Admin.ImportEntriesViewModel

@{
    ViewBag.Title = "Import data";
}

<div class="import-data-page">
    
    <h2>Import data</h2>

    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="message">
            <p>
                @Model.Message
            </p>
        </div>
    }

    <form action="/Import/ImportEntries" method="post">
        <select class="select-type" name="type">
            <option value="standard">Standard</option>
            <option value="framework">Framework</option>
            <option value="vstsstandard">Vsts Standard</option>
            <option value="vstsframework">Vsts Framework</option>
        </select>

        <textarea class="input-text" name="text"></textarea>
        <br/>
        <button class="btn btn-primary btn-lg" type="submit" value="Import">Import</button>
        <br/>
    </form>

    <div>
        <p>
            Import is not very stable. Need to be a list of JSON objects.
        </p>
        Get all standards and frameworks
        <ul>
            <li>
                /Apprenticeship/StandardsJson
            </li>
            <li>
                /Apprenticeship/FrameworksJson
            </li>
        </ul>
    </div>

</div>
