<?xml version="1.0" encoding="utf-8"?>
<log4net>

  <!--<appender name="UdpAppender" type="log4net.Appender.UdpAppender">
    <remoteAddress key="ElasticBox" value="23.102.18.48" />

    <remotePort value="5960" />
    <layout type="log4net.Layout.PatternLayout, log4net">
      <conversionPattern value="%-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>-->

  <!--<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
    <file value="C:\Temp\logtest\filelogger.log.txt" />
    <appendToFile value="true" />
    <encoding value="utf-8" />
    <layout type="log4net.Layout.SimpleLayout" />
  </appender>-->

  <root>
    <!-- OFF, FATAL, ERROR, WARN, DEBUG, INFO, ALL -->
    <level value="ALL" />
    <!--<appender-ref ref="UdpAppender" />-->
    <!--<appender-ref ref="LogFileAppender" />-->
  </root>
</log4net>