<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
      <unitTestProvider name="NUnit" />
  </specFlow>
  
  <appSettings>
    <!-- use either "localhost" or "saucelabs" or "jenkins-saucelabs" -->
    <!-- "jenkins-saucelabs" allows execution on multiple platforms, browsers, os as selected in the sauce plugin in jenkins-->
    <add key="host" value="saucelabs"/>  
    
    <!--These configuration keys are used for sauce labs execution in Hooks -->
    <add key="platform" value="Windows 10"/>
    <add key="browser" value="chrome"/>  <!-- see saucelabs platform configurator for options -->
    <add key="browserVersion" value="46"/>
    <add key="baseUrl" value="http://the-internet.herokuapp.com" />
    <add key="sauce_labs_account_name" value="" />
    <add key="sauce_labs_account_key" value =""/>
  </appSettings>

</configuration>
