@model List<Sfa.Das.Sas.Core.Models.FrameworkMetaData>
@{
    ViewBag.Title = "Frameworks";
}

<h2>Frameworks (@Model.Count results)</h2>

<div>
    @foreach (var item in Model)
    {
        <p>
            @Html.ActionLink($"{@item.ApprenticeshipId}, {@item.FrameworkName}: {@item.Pathway}", "FrameworkDetails", "Apprenticeship", new { @id = item.Id }, null)
        </p>
    }
</div>