@model List<Sfa.Das.Sas.Core.Models.StandardMetaData>
@{
    ViewBag.Title = "Standards";
}

<h2>Standards (@Model.Count results)</h2>

<div>
    @foreach (var item in Model)
    {
        <p>
            @Html.ActionLink($"{@item.ApprenticeshipId}, {@item.Title}", "StandardDetails", "Apprenticeship", new { @id = item.Id }, null)
        </p>
    }
</div>

