<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-applicationapi-internal.log" >

  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
    <add assembly="SFA.DAS.NLog.Targets.AzureEventHub"/>
  </extensions>

  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
   <variable name="someName" value="someValue"/> 
  -->
  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!-- 
    add your targets here 
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Writing events to the a file with the date in the filename. -->
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />

    <target xsi:type="Debugger" name="debug"/>

    <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="ElasticSearch" uri="http://127.0.0.1:9200,http://192.168.99.100:9200" layout="${message}" includeAllProperties="true" />
    </target>

    <target name="eh" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="AzureEventHub" appName="" layout="${message}" eventHubConnectionString="" eventHubName="" partitionKey=""/>
    </target>

    <target name="ai" xsi:type="ApplicationInsightsTarget" />
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f" -->
    <logger name="*" minlevel="Debug" writeTo="elastic,ai" />

  </rules>
</nlog>
