<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="5.0.1" targetFramework="net452" />
  <package id="FeatureToggle" version="3.4.0" targetFramework="net452" />
  <package id="FeatureToggle.Core" version="3.4.0" targetFramework="net452" />
  <package id="MediatR" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net452" />
  <package id="MiniProfiler" version="3.2.0.157" targetFramework="net452" />
  <package id="NEST" version="5.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NLog" version="4.3.7" targetFramework="net452" />
  <package id="Polly" version="4.3.0" targetFramework="net452" />
  <package id="SFA.DAS.Apprenticeships.Api.Client" version="0.10.6" targetFramework="net452" />
  <package id="SFA.DAS.Apprenticeships.Api.Types" version="0.10.6" targetFramework="net452" />
  <package id="SFA.DAS.NLog.Logger" version="1.0.0.23289" targetFramework="net452" />
  <package id="SFA.DAS.NLog.Targets.AzureEventHub" version="1.0.0.15403" targetFramework="net452" />
  <package id="SFA.DAS.NLog.Targets.Redis" version="1.0.0.23289" targetFramework="net452" />
  <package id="SonarLint" version="2.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="StackExchange.Redis" version="1.1.608" targetFramework="net452" />
  <package id="structuremap" version="4.2.0.402" targetFramework="net452" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="WindowsAzure.ServiceBus" version="3.3.2" targetFramework="net452" />
</packages>