<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SearchEndpointConfigurationName" value="BasicHttpBinding_IDedsSearchService" />
    <!--Values differ per environment -->
    <add key="ApprenticeshipIndexAlias" value="ciapprenticeshipindexalias" />
    <add key="ProviderIndexAlias" value="ciproviderindexalias" />
    <add key="Apprenticeship.QueueName" value="daslocalqueue" />
    <add key="Provider.QueueName" value="daslocalproviderqueue" />
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true;" />
    <add key="EnvironmentName" value="local" />
    <add key="ElasticServerUrls" value="http://127.0.0.1:9200,http://192.168.99.100:9200"/>
    <add key="iKey" value="" />
    <add key="PauseTime" value="1000" />
    <add key="CourseDirectoryUri" value="https://dasapidev.coursedirectoryproviderportal.org.uk/dasapi" />
    <!-- Features -->
    <add key="Feature.FilterInactiveProviders" value="true" />
    <!--values we dont need to change-->
    <add key="DatasetName" value="LARS" />
    <add key="WorkerRolePauseTime" value="5" />
    <add key="StandardDescriptorName" value="GetStandardCommonComponent" />
    <!--Metadata creation -->
    <add key="CsvFileName" value="Standard.csv" />
    <add key="GitUsername" value="" />
    <add key="GitPassword" value="" />
    <add key="GitBranch" value="refs/heads/master" />
    <add key="VstsGitBaseUrl" value="https://sfa-gov-uk.visualstudio.com/DefaultCollection/Digital%20Apprenticeship%20Service/_apis/git/repositories/SFA-DAS-MetaDataStorage/" />
    <add key="VstsGitFolderPath" value="standards/local/json" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>