.result {
    border-bottom: 1px solid $border-colour;
    padding-bottom: $gutter-two-thirds;
    margin-bottom: $gutter-two-thirds;
}

.result-title {
    @extend .heading-medium;
    margin-top: 0;
    margin-bottom: 0;
}

.result-title span, .labelmessage strong.new{
    background-color: #808080;
    color: white;
    padding: 0 0.4em;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;
}

.result.standard-result h2 a{
    text-transform: lowercase;
}

.result.standard-result h2 a:first-letter{
    text-transform: uppercase;
}

.result-data-list {
    @include data-list(20, true, true);
    dt { max-width: none; }
    .address { max-width: none; width: 100%; }
}
