@using Sfa.Das.Sas.Shared.Components.Extensions
@using Sfa.Das.Sas.Shared.Components.ViewModels.Css.Interfaces
@model Sfa.Das.Sas.Shared.Components.ViewModels.Basket.BasketViewModel<Sfa.Das.Sas.Shared.Components.ViewModels.Apprenticeship.ApprenticeshipBasketItemViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject ICssViewModel CssViewModel
@{
    var apprenticeshipCount = Model.Items?.Count() ?? 0;
    var providerCount = Model.Items?.SelectMany(w => w.TrainingProvider).Count() ?? 0;
}

<h1>Your favourite apprenticeships and training providers</h1>

@if (Model.HasItems)
{
    <div>

        <span>@(apprenticeshipCount)</span> @("Apprenticeship".Pluralize(apprenticeshipCount))
        <span>@providerCount</span> Training @("provider".Pluralize(providerCount))
    </div>
}
