<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="data.standard.JOBROLE" value="Infrastructure technician" />
    <add key="data.standard.Postcode" value="B5 4UA" />

    <add key="data.framework.JOBROLE" value="Children and Young People's Workforce: Children and Young People's Social Care" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="data.framework.Postcode" value="NE4 9LU" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
  </appSettings>
  <specBind>
    <application
      startUrl="http://das-pp-search.cloudapp.net"
      xdt:Transform="SetAttributes(startUrl)"/>
    <browserFactory pageLoadTimeout="00:01:00" xdt:Transform="SetAttributes(pageLoadTimeout)">
      <settings>
        <add name="RemoteUrl" value="http://hub.browserstack.com:80/wd/hub/" xdt:Transform="Insert"/>
        <add name="browser" value="iPad" xdt:Transform="Insert" />
        <add name="device" value="iPad Mini" xdt:Transform="Insert"/>
        <add name="os" value="ios" xdt:Transform="Insert"/>
        <add name="browser_version" value="7.0" xdt:Transform="Insert"/>
      </settings>
    </browserFactory>
  </specBind>
</configuration>