<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="service.url" value="http://das-pp-search.cloudapp.net" xdt:Locator="Match(key)" xdt:Transform="Replace" />

    <add key="data.standard.JOBROLE" value="Infrastructure technician" /> 
    
    <add key="data.standard.Postcode" value="B5 4UA" />
    
    <add key="data.framework.JOBROLE" value="Children and Young People's Workforce: Children and Young People's Social Care" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="data.framework.Postcode" value="NE4 9LU" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    
  </appSettings>
  <specBind>
    <application startUrl="http://das-pp-search.cloudapp.net" xdt:Transform="SetAttributes(startUrl)"/>
  </specBind>
</configuration>