<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="specBind" type="SpecBind.Configuration.ConfigurationSectionHandler, SpecBind"/>
  <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/></configSections>
  <specFlow>
    
    <stepAssemblies>
      <stepAssembly assembly="Sfa.Das.Sas.WebTest.Pages"/>
      <stepAssembly assembly="SpecBind"/>
      <stepAssembly assembly="Sfa.SpecBind.Enhancements"/>
    </stepAssemblies>
    <unitTestProvider name="NUnit"/>
    <plugins>
      <add name="SpecBindGeneratorPlugin" type="Generator"/>
    </plugins>
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>
  <specBind>
    <!-- For additional details on SpecBind configuration options see the project site. -->
    <application startUrl="http://das-searchwebci.cloudapp.net" actionRetryLimit="2"/>
    <browserFactory pageLoadTimeout="00:20:00" provider="SpecBind.Selenium.SeleniumBrowserFactory, SpecBind.Selenium" browserType="phantomjs">
      <settings>
        <!--
        These should be set as environment variables during the test run -->
        <add name="browserstack.user" value=""/>
        <add name="browserstack.key" value=""/>
        <add name="browserstack.debug" value="true"/>
        <add name="project" value="DAS.Search"/>
        <add name="build" value=""/>
      </settings>
    </browserFactory>
  </specBind>
  <appSettings>
    <add key="data.standard.JOBROLE" value="Digital &amp; technology solutions professional"/>
    <add key="data.standard.Postcode" value="M15 6BH"/>

    <add key="data.framework.JOBROLE" value="Community Arts Administration"/>
    <add key="data.framework.Postcode" value="KT13 8TT"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>