<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration serviceName="Sfa.Das.ApprenticeshipInfoService.Api.Azure" xmlns="http://schemas.microsoft.com/ServiceHosting/2008/10/ServiceConfiguration" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <Role name="Sfa.Das.ApprenticeshipInfoService.Api">
    <Instances count="#{CloudService.InstanceCount}" xdt:Transform="Replace" />
  </Role>
  <NetworkConfiguration>
    <AddressAssignments xdt:Transform="Replace">
      <InstanceAddress roleName="Sfa.Das.ApprenticeshipInfoService.Api">
        <Subnets>
          <Subnet name="#{azure.vnet.subnet.name}" />
        </Subnets>
      </InstanceAddress>
      <ReservedIPs>
        <ReservedIP name="#{AzureCloudService.ReservedIpName}"/>
      </ReservedIPs>
    </AddressAssignments>
    <AccessControls>
      <AccessControl>
        <Rule action="permit" remoteSubnet="#{azure.acl.remote.subnet}" xdt:Locator="Match(action)" xdt:Transform="SetAttributes(remoteSubnet)" />
      </AccessControl>
    </AccessControls>
  </NetworkConfiguration>
</ServiceConfiguration>