<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add providerName="System.Data.SqlClient" dbType="SqlAzure" name="Sitefinity"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>
</dataConfig>