<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5900.0">
	<notifications newPostNotificationTemplateId="33620ba9-8748-6903-b2cf-ff000087f0ab" newThreadNotificationTemplateId="34620ba9-8748-6903-b2cf-ff000087f0ab" />
</forumsConfig>