<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5900.0">
	<applicationModules>
		<add title="Standards" description="This is a Custom Module which has been built with Sitefinity Thunder." moduleId="00000000-0000-0000-0000-000000000000" type="StandardModule.StandardModuleClass, StandardModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" startupType="Disabled" name="StandardModule" />
		<add title="Audit Trail - Elasticsearch" description="Logs audit events to an Elasticsearch instance." moduleId="00000000-0000-0000-0000-000000000000" type="Telerik.Sitefinity.Audit.Elasticsearch.ElasticsearchAuditModule, Telerik.Sitefinity.Audit.Elasticsearch, Version=8.2.5900.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" startupType="Disabled" name="ElasticsearchAudit" />
	</applicationModules>
</systemConfig>