@{
    ViewBag.Title = "Skills Funding Agency (SFA)";
}
<div class="jumbotron">
    <h1>
        SFA Metadata Editor
    </h1>
    <p class="lead">Standards and Frameworks</p>
    <div class="row">
        <div class="col-md-4">
            <p>
                @Html.ActionLink("List all standards", "Standards", "Apprenticeship", null, new { @class = "btn btn-primary btn-lg" })
            </p>
        </div>
        <div class="col-md-4">
            <p>
                @Html.ActionLink("List all frameworks", "Frameworks", "Apprenticeship", null, new { @class = "btn btn-primary btn-lg" })
            </p>
        </div>
    </div>
</div>
