@using Sfa.Eds.Das.Web.Extensions
@model Sfa.Eds.Das.Web.ViewModels.ProviderSearchResultViewModel

@{
    ViewBag.Title = "Provider Search Results";
}

<main id="content" role="main">
    @Html.ActionLink("Back to Standard", "Detail", "Standard", new {@id = @Model.StandardId} , new { @class = "link-back" } )
    <div id="results" class="grid-row">

        <div class="column-two-thirds">

            <div class="hgroup">

                <h1 class="heading-xlarge">
                    Search results
                </h1>

            </div>
            <p>
                @{
                    Html.RenderPartial("_SearchResultMessage");
                }
            </p>
            @{
                Html.RenderPartial("_ProviderInformation");
            }
        </div>

        <div class="column-third">
        </div>
    </div>
</main>