<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net452" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net452" />
  <package id="SpecBind" version="1.7.2.276" targetFramework="net452" />
  <package id="SpecBind.Selenium" version="1.7.2.276" targetFramework="net452" />
  <package id="SpecBindGeneratorPlugin.SpecFlow" version="1.7.2.276" targetFramework="net452" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net452" />
  <package id="SpecFlow.CustomPlugin" version="2.1.0" targetFramework="net452" />
</packages>