
    <h1 class="govuk-heading-l">SearchQueryViewModel Model</h1>
<p class="govuk-body">Allows the user to enter and submit a keyword which initiates a search for available Apprenticeship training.</p>
<h2 class="govuk-heading-m">Parameters</h2>
<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Parameter</th>
            <th class="govuk-table__header" scope="col">Type</th>
            <th class="govuk-table__header" scope="col">Default value</th>
            <th class="govuk-table__header" scope="col">Description</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Keyword</td>
            <td class="govuk-table__cell">string</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">The keywords which have previously been entered in an apprenticeship search</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">ResultsToTake</td>
            <td class="govuk-table__cell">int</td>
            <td class="govuk-table__cell">20</td>
            <td class="govuk-table__cell">Sets how many results to return from the search</td>

        </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">Page</td>
        <td class="govuk-table__cell">int</td>
        <td class="govuk-table__cell">1</td>
        <td class="govuk-table__cell">Sets which page of results to return from the search</td>

    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">SortOrder</td>
        <td class="govuk-table__cell">int</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">sets the order in which the results will be returned</td>

    </tr>
    </tbody>
</table>
