<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="SearchEndpointConfigurationName" value="BasicHttpBinding_IDedsSearchService" />
    <add key="ApprenticeshipIndexAlias" value="cistandardindexesalias" />
    <add key="ProviderIndexAlias" value="ciproviderindexalias" />
    <!--test config-->
    <add key="int" value="5" />
  </appSettings>
</configuration>